.container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}
.row{
    margin: 0 !important;
    padding: 0 !important;
}
.category-page-products> .product-category-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.category-page-products ul{
    list-style:none;
}
.baishnab-category-products-wrapper{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}
.bs-category-page-first-wrapper{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
        padding: 84px 64px 0px 64px;
 
}
 .baishnav-category-short-by{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 64px;
    margin-top: 50px;
    float: right;
    display: flex;
    color: #000000;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 500;
}
.baishnav-category-short-by>span{
    color: #000000;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    margin-right: 15px; 
}
.baishnab-category-sidebar-container>.baishnav-category-sidebar-heading>p{
    color: #000000;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 9px;
}
.baishnab-category-sidebar-container>.baishnav-category-sidebar-heading>label{
    color: #000000;
    font-family: "Poppins";
    font-size: 14px;
    opacity: 60%;
    font-weight: 400;
    padding-left: 8px;
}
.baishnab-category-sidebar-container>.baishnav-category-sidebar-heading>input{
    color: #000000;
  
    opacity: 60%;

}
.bs-hero-category-hero-description>h1{
    color: #000000;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
}
.bs-hero-category-hero-description>p{
    color: #000000;
    font-family: "Poppins";
    font-size: 15px;
    line-height: 1.9;
    opacity: 60%;
    font-weight: 400;
}
.baishnab-category-sidebar-wrapper{
width: 95%;
}
.bs-hero-category-wrapper{

    padding: 0;
    margin-bottom: 22px;
}
.bes-category-first-sweets-description{
    background-color: #F5F3EF;
}
.baishnab-category-sidebar-container{
    background:#F7F7F7;
    width: 90%;
}
.bs-hero-category-hero-description{
    max-width: 632px;
    padding-top: 72px;
    padding-left: 36px;
}
.baishnav-category-short-by>select{
 
    width: 185px;
    padding: 4px 12px 12px 12px;
    height: 40px;
    border: 1px solid #E5E5E5;
    outline: none;
}
.bs-category-first-container{
    display: flex;
    justify-content: space-between;
}
.bs-hero-category-hero-image{
    width: 369px;
    height: 284px;
    /* float: right; */
}
.bs-hero-category-hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.baishnav-category-sidebar-heading{
    padding-top: 22px;
    padding-left: 29px;
}
.baishnav-category-pagination{
    text-align: center;
    margin-bottom: 100px;
}
.baishnav-category-pagination>span{
    border:2px solid #D80025;
    color: #D80025;
    font-weight: 500;
    padding:14px;
    margin-right: 23px;
}
.baishnav-category-pagination>p{
color: #212121;
font-family: "Poppins";
font-size: 15px;
font-weight: 600;
    margin-bottom:45px;
}
@media(min-width:1500px){
    .product-image-category {
        /* margin-right: 22px !important; */
   
    }
    
}
@media(min-width: 1380px) and (max-width: 1490px){
    .product-image-container{
        max-width: 255px !important;
    }
}
@media(min-width:1450px){
    .product-image-category {
   width:230px !important;
   margin-right: 22px !important;
    }
    
}
@media(max-width:1200px){
    .product-image-container{
        max-width: 244px !important;
    }
    .bs-hero-category-hero-description {
        max-width: 400px;
        padding-top: 32px;
        padding-left: 27px;
    }
    
}
@media(max-width:992px){
 .bs-hero-category-hero-description{
    max-width: 277px;
 }
    .bs-hero-category-hero-image{
    width: 160px;
    height: 160px;
    padding-top: 16px;
    padding-left: 16px;
    margin-top: 70px;
    }
}




@media(max-width:768px){
    .bs-category-page-first-wrapper>.container-fluid>.row{
  flex-direction: column-reverse !important;
    }
    .baishnab-category-sidebar-wrapper {
        margin-top: 32px;
    }
    .product-image-category{
        width: 267px !important;
    }
    .baishnav-category-sidebar-heading{
    margin-right:20px;
    }
    .baishnab-category-sidebar-container{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }
    .bs-category-page-first-wrapper, .baishnav-category-short-by {
        padding: 16px;
    }
    .bs-hero-category-wrapper {
    
        margin-bottom: 0px;
    }
    .baishnab-category-sidebar-container {
        width: 100%;
    }
    .baishnab-category-sidebar-wrapper {
        width: 100%;
    }
    
    .baishnav-category-short-by{
        /* margin-bottom: 100px;
        margin-left: 16px; */
    }
    .baishnav-category-short-by>select {
        float: left;
    }
}
