@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.container-fluid {
  margin: 0;
  padding: 0;
}
.row {
  padding: 0px !important;
  margin: 0px !important;
}

/* first section */
.bs-product-detail-wrapper {
  margin-left: 4.8%;
}
.addtocart-img {
  height: 20px;
  width: 23px;
  margin-right: 8px;
  margin-top: -3px;
}
.addtocart-img img {
  height: 100%;
  width: 100%;
}
.baishnab-breadcrum {
  height: 40px;
  width: 100%;
  background-color: #f4f4f4;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 64px 0px 64px;
  
  margin-top: 10px;

}
.baishnab-breadcrum a{
  height: 40px;
  padding: 12px;
  /* margin-top: 8px; */

}
.bs-product-image-container {
  width: 100%;
  height: 505px;
  background-color: #f4f4f4;
}
.bs-product-image-container img {
    width: 100%;
 height: 100%;
  }
.baishnab-detail-page-first-wrapper .bs-product-detail-wrapper > h1,
.product-price {
  font-size: 20px;
  font-family: "Poppins";
  color: black;
  font-weight: 600;
}
.baishnab-detail-page-first-wrapper .bs-product-detail-wrapper .stock-title {
  color: #d80025;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 600;
}
.baishnab-detail-page-first-wrapper .bs-product-detail-wrapper .product-price {
  font-size: 20px;
  font-family: "Poppins";
  color: black;
  font-weight: 600;
}
.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .product-description {
  font-size: 13px;
  font-family: "Poppins";
  font-weight: 400;
  color: black;
  opacity: 60%;
  line-height: 1.7;
}
.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .product-size
  .available {
  color: #d80025 !important;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 600;
  opacity: 100% !important;
  padding: 4px;
  border: 1px solid #d80025 !important;
}
.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .product-size
  span {
  color: black;
  opacity: 60%;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 600;
  padding: 4px;
  border: 1px solid black;
  cursor: pointer;
  margin: 0px 4px;
}
.baishnab-detail-page-first-wrapper .bs-product-detail-wrapper .product-size {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: "Poppins";
}

.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .product-quantity {
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 600;
  color: black !important;
  background-color: transparent !important;
  text-decoration: none;
}
.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .product-quantity
  .bs-share
  img {
  width: 12.25px;
  height: 22.88px;
  margin-left: 14.4px;
}
.bs-social-icon {
  display: flex;
  justify-content: start;
}

.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .product-quantity
  .increase {
  background-color: #f5f7fd;
  padding: 4px 6px;
  border: 1px solid #d8d8d8;
}
.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .product-quantity
  .number {
  background-color: white;
  width: 44px !important;
height: 30px;
text-align: center;
outline-style: none;
margin-right: auto;
margin-left: auto;
  border: 1px solid #d8d8d8;
}
.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .bs-button-collection
  a {
  background-color: #d80025;
  color: white;
  font-weight: 500;
  font-family: "Poppins";
  font-size: 16px;
  padding: 14px 24px;
  margin-top: 59px;
  border-radius: 5px;
  display: flex;
  margin-right: 23px;
  text-decoration: none;
}

.bs-review-wrapper {
  margin: 20px 0px 90px 0;
}
.bs-review-wrapper > textarea {
  border-radius: 10px;
  border-style: none;
  padding: 16px;
  margin-top: 22px;
  background-color: #f4f4f4;
  width: 50%;
  font-family: "Poppins";
  outline: none;
}
.bs-review-wrapper > button {
  border-radius: 10px;
  border-style: none;
  padding: 8px 12px;
  margin-top: 22px;
  background-color: #d80025;
  width: 50%;
  color: white;
  font-family: "Poppins";
  outline: none;
}
.bs-review-wrapper > h2 {
  margin-top: 60px;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  color: black;
}
.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .bs-button-collection {
  /* margin-top: 59px; */
  margin-bottom: 49px;
  display: flex;
  justify-content: flex-start;
}


.detail-page-slider .slick-dots li button:before {
 display: none !important;
}
/* second section */
.product-small-image {
  width: 92% !important;
  height: 138px;
  background-color: #f4f4f4;
cursor: pointer;
}
.product-small-image img {
  width: 100%;
  height: 100%;
}
.small-img > .product-small-image {
  margin-left: auto !important;
  margin-right: auto !important;
}
.detail-page-slider .slick-prev {
  left: 0%;
  z-index: 1;
}
.detail-page-slider .slick-next {
    right: 0%;
    z-index: 1;
}
.detail-page-slider .slick-next:before,
.slick-prev:before {
  font-size: 17px;
  opacity: 100%;
  color: #d80025;
}
.baishnab-detail-page-second-wrapper {
  display: flex;
  justify-content: flex-start;
}

.baishnab-detail-page-second-wrapper {
  margin-top: 21px;
  /* padding-left: 15px; */
}
.baishnab-detail-page-second-wrapper > .small-img {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  width: 30%;
}

td,
th {
  text-align: left;
}
.baishnab-detail-page-main-wrapper {
  padding: 16px 64px;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 66px;
}
/* third section */
.baishnab-detail-page-third-wrapper ul > li .active {
  color: #d80025;
  border-bottom: 2px solid #d80025;
  opacity: 100%;
}
.baishnab-detail-page-third-wrapper ul > li > a {
  color: black;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  opacity: 37%;
}
.baishnab-detail-page-third-wrapper h1 {
  color: black;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
}
.baishnab-detail-page-third-wrapper .product-nutritional-values {
  margin-top: 29px;
  /* padding-left: 15px; */
}
.product-nutritional-values h1 {
  margin-bottom: 17px;
}
.baishnab-detail-page-third-wrapper .more-details {
  color: black;
  opacity: 60%;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.7;
}
.baishnab-detail-page-third-wrapper {
  margin-top: 76px;
}
.baishnab-detail-page-third-wrapper ul {
  margin-bottom: 29px;
}
.rating-star-image-container > .detail-page-review-star {
  margin-right: 8px;
}

/* fourth section */
.baishnab-detail-page-related-products-card-container ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.baishnab-detail-page-fourth-wrapper {
  margin-top: 61px;
  text-align: center;
  margin-bottom: 132px;
  position: relative;
}
.baishnab-detail-page-fourth-wrapper > h1 {
  margin-bottom: 34px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}
.baishnab-detail-page-fourth-wrapper > h1::before {
  content: " ";
  position: absolute;
  width: 12px;
  top: 1.5%;
  left: 38%;
  border-bottom: 2px solid #d80025;
}
.baishnab-detail-page-fourth-wrapper > h1::after {
  content: " ";
  position: absolute;
  width: 12px;
  top: 1.5%;
  right: 38%;
  border-bottom: 2px solid #d80025;
}
.baishnab-detail-page-related-products-card-container a {
  text-decoration: none;
}
.baishnab-detail-page-related-products-card {
  width: 267px;
  height: 360px;
  margin-right: 31px;
  margin-bottom: 31px;
}
.related-products-card-image {
  width: 267px;
  height: 305px;
  background-color: #f4f4f4;
}
.related-products-card-image img {
  width: 100%;
  height: auto;
}
.related-products-card-image-description {
  max-width: 267px;
  padding: 8px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}
.related-products-card-image-description > p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
  color: #000000;
}
.related-products-card-image-description > span {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}
@media (min-width: 1448px) {
  .baishnab-detail-page-related-products-card {
    width: 244px;
    height: 360px;
    margin-right: 20px;
  }
  .related-products-card-image {
    width: 244px;
    height: 305px;
    background-color: #f4f4f4;
  }
}

@media (max-width: 1200px) {
  .product-small-image {
    height: 100px;
  }
}

@media (max-width: 1024px) {
  .product-small-image {
    height: 70px;
  }
  .bs-product-image-container {
    width: 100%;
    height: 405px;
    background-color: #f4f4f4;
  }
  .baishnab-detail-page-fourth-wrapper > h1::before {
    top: 1%;
    left: 32%;
  }
  .baishnab-detail-page-fourth-wrapper > h1::after {
    top: 1%;
    right: 32%;
  }
}

@media (max-width: 768px) {
  .detail-page-slider .slick-prev {
    left: 4%;
    z-index: 1;
  }
  .detail-page-slider .slick-next {
    right: 4%;
    z-index: 1;
}
 
  .product-small-image {
    height: 180px;
  }
  .baishnab-detail-page-fourth-wrapper > h1::before {
    top: 0.5%;
    left: 28%;
  }
  .baishnab-detail-page-fourth-wrapper > h1::after {
    top: 0.5%;
    right: 28%;
  }
  .baishnab-detail-page-main-wrapper {
    padding: 16px;
  }
  table {
    width: 50%;
  }
  .bs-product-detail-wrapper {
    margin-top: 27px;
  }
  .baishnab-detail-page-first-wrapper
    .bs-product-detail-wrapper
    .product-quantity {
    margin-top: 32px;
  }
}
@media (max-width: 560px) {
  .baishnab-detail-page-fourth-wrapper > h1::before {
    top: 0.5%;
    left: 22%;
  }
  .baishnab-detail-page-fourth-wrapper > h1::after {
    top: 0.5%;
    right: 22%;
  }
  .bs-product-image-container {
    height: 300px;
  }
  table {
    width: 71%;
  }
  .baishnab-detail-page-second-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-small-image {
    margin-bottom: 17px;
  }
  .baishnab-detail-page-related-products-card {
    margin-right: 0px;
  }
}

@media (max-width: 436px) {
    .product-small-image {
        width: 100% !important;
        height: 180px;
      }

  .baishnab-detail-page-fourth-wrapper > h1::before {
    left: 18%;
  }
  .baishnab-detail-page-fourth-wrapper > h1::after {
    right: 18%;
  }
  .baishnab-detail-page-related-products-card-container a {
    margin-right: auto;
    margin-left: auto;
  }
  /* .product-small-image {
    width: 275px;
   
  } */
  .baishnab-detail-page-first-wrapper
    .bs-product-detail-wrapper
    .bs-button-collection {
    flex-direction: column;
    display: flex;
  }
  .baishnab-detail-page-first-wrapper
    .bs-product-detail-wrapper
    .bs-button-collection
    a {
    margin-top: 16px;
    text-align: center;
  }
}

@media (max-width: 370px) {
  .baishnab-detail-page-fourth-wrapper > h1::before {
    left: 12%;
  }
  .baishnab-detail-page-fourth-wrapper > h1::after {
    right: 12%;
  }
}
