@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
}
.no-gutters.row,
.no-gutters.container,
.no-gutters.container-fluid {
  margin-left: 0;
  margin-right: 0;
}

.no-gutters > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.container-fluid {
  padding: 0px !important;
  margin: 0px !important;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 0px;
}

/* css for header section */
.baishnav-home-top-navbar-container {
  background-color: #d80025;
  height: 42px;
}
.baishnav-home-top-navbar,
.baishnav-home-bottom-navbar-conatiner {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 64px;
  padding-top: 8px;
  color: #ffffff;
}

.baishnav-home-bottom-navbar-conatiner {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 64px;
  padding-top: 8px;
  color: #ffffff;
}
.bs-bulk-order > a > p > span {
  text-transform: uppercase;
  font-weight: 500;
}
.baishnav-home-top-navbar a {
  color: #ffffff;
  font-family: "Poppins";
  font-size: 14px;
  text-decoration: none;
  margin-right: 32px;
}
.baishnav-home-top-navbar a:hover {
font-weight: 600;
 
}
.bs-top-nav-item > a:nth-child(2) {
  margin-left: 30px;
}
.baishnav-home-mid-navbar-logo {
  width: 122px;
  height: 98px;
}
.baishnav-home-mid-navbar-logo img {
  width: 100%;
  height: auto;
}
.baishnav-searchbar-container {
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-top: 22px; */
  display: flex;
}
.baishnav-searchbar-container > input {
  width: 100%;
  height: 46px;
  background-color: #f4f4f4;
  padding: 9px;
  outline-style: none;
  outline-style: none;
  border-top-left-radius: 20px;
  border-style: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.baishnab-seach-box {
  padding-left: 31px !important;
  font-size: 14px;
  font-family: "Poppins";
  color: black;
  opacity: 37%;
  font-weight: 400;
}
.baishnav-searchbar-container img {
  width: 15px;
  height: 15px;
  /* margin-bottom: 38px; */
  margin-left: -70px;
}

.baishnav-searchbar-container > button {
  border-style: none;
  cursor: pointer;
}
.baishnav-login-image {
  height: 38px;
  width: 38px;
  margin-top: 22px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #f5f6f7;
}
.baishnav-login-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.baishnav-home-mid-navbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 64px;
}
.nav-telephone-image img {
  width: 34px;
  height: 29px;
  margin-right: 12px;
  margin-top: 12px;
}
.baishnav-home-bottom-navbar-items > ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 16px;
}
.baishnav-home-bottom-navbar-items > ul > li {
  margin-right: 16px;
  padding: 0px 12px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  list-style: none;
}
.baishnav-home-bottom-navbar-items > ul > li > a {
  color: #000000;
  text-decoration: none;
}
.baishnav-home-bottom-navbar-items > ul > li:hover a {
font-weight: 600;
opacity: 37%;
}
.baishnav-navbar-contact-container {
  display: flex;
  justify-content: space-between;
}
.baishnav-navbar-contact-container > a > span {
  font-family: "Poppins";
  color: #d80025;

  font-weight: 400;
  font-size: 14px;
}
.baishnav-navbar-contact-container > a {
  font-family: "Poppins";
  color: black;
text-decoration: none;
  font-weight: 400;
  font-size: 14px;

  width: 84px;
}
.icon-tel-bs{
  width: min-content !important;
}
.baishnav-home-mid-navbar-container > .hamburger img {
  height: 30px;
  width: 30px;
}
.baishnav-home-mid-navbar-container > .hamburger {
  align-items: baseline;
  margin-top: auto;
  margin-bottom: auto;
  display: none;
}
.bs-top-nav-item>ul{

    display: flex;
    list-style: none;
}

/* navbar responsive */
@media (max-width: 992px) {
  .baishnav-home-mid-navbar-container > .hamburger {
    display: block;
  }
  .baishnav-home-top-navbar-container {
    display: none;
  }
  .baishnav-home-mid-navbar-container {
    background-color: #d80025;
  }
  .show {
    display: block;
    height: auto;
  }
  .bs-top-nav-item>ul{
flex-direction: column;
/* padding-left: 8px; */
}
  .baishnav-home-top-navbar a {
    margin-right: 0px;
}
  .baishnab-seach-box {
    opacity: 100%;
    background: #f4f4f4;
  }
  .baishnav-login-image{
    display: none;
  }
  .baishnav-searchbar-container {
    /* display: none; */
  }
  .baishnav-searchbar-container {
    width: 70%;
  }
  .baishnav-home-top-navbar{
    flex-direction: column;

    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    padding: 8px 32px;
    padding-top: 8px;
    color: #d80025;
    background-color: #f4f4f4;
    position: absolute;
    width: 100%;
    top: 12%;
    z-index: 1;
  }
  .baishnav-home-top-navbar a {
    color: #d80025;

}
}
@media (max-width: 768px) {
  .baishnav-navbar-contact-container {
    display: none;
  }
  .baishnav-home-bottom-navbar-items {
    margin-left: auto;
    margin-right: auto;
  }
  .baishnav-searchbar-container {
    width: 60%;
}
.baishnav-home-mid-navbar-container {
  padding: 0px 16px;
}
  
}


@media(max-width:520px){
  .baishnav-home-bottom-navbar-items > ul > li {
    margin-right: 0px;

}
.baishnav-home-bottom-navbar-conatiner {
  padding: 0px 16px;

}
.baishnav-searchbar-container {
  width: 40%;
}
.baishnab-seach-box {
  padding-left: 12px !important;
  font-size: 12px;

}

}

@media(max-width:450px){
  .baishnav-searchbar-container img {
    display: none;
}
.baishnav-home-bottom-navbar-items > ul > li {
  margin-right: 0px;
  padding: 0px 7px;

}
.baishnav-home-mid-navbar-logo {
  width: 100px;
  height: 79px;
}
}

@media(max-width:350px){
  .baishnav-home-bottom-navbar-items > ul {
  flex-wrap: wrap;
  justify-content: center;
  }
  .baishnav-searchbar-container{
    display: none;
}
}
/* css for first section */

.baishnav-first-section-wrapper {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding: 16px 64px;
  flex-wrap: wrap;
}

.bs-slider-image,
.baishnav-first-section-image-container,
.baishnav-first-section-slider-container {
  background-color: #f4f4f4;
}
.baishnav-first-section-slider-container {
  height: 466px !important;
  width: 100% !important;
}
.bs-first-section-image {
  height: 466px !important;
  width: 100% !important;
}
.bs-slider-image img {
  width: 100% !important;
  height: 466px !important;
}

.baishnav-first-section-image-container {
  width: 100%;
  height: 225px;
  margin-bottom: 13px;
  margin-left: 13px;
}
.baishnav-first-section-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slick-dots li button:before {
  font-size: 10px !important;
}
.slick-prev {
  left: 4%;
  z-index: 1;
}
.slick-next {
  right: 4%;
  z-index: 1;
}
.slick-dots {
  bottom: 22px !important;
}
@media (max-width: 991px) {
  .bs-first-section-image {
    height: 200px !important;
    width: 100% !important;
    display: flex !important;
    margin-top: 16px;
  }
  .baishnav-first-section-image-container {
    margin-left: 0px !important;
  }
  .bes_css{
    margin-right: 12px;
  }
  .baishnav-first-section-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media(max-width:768px){
  .baishnav-first-section-wrapper {
    padding: 16px;
}
}

@media(max-width:520px){
  .baishnav-first-section-slider-container {
    height: 230px !important;
    width: 100% !important;
  }
  .bs-slider-image img {
    width: 100% !important;
    height: 230px !important;
  }
  .bs-first-section-image {
    height: 150px !important;
}
  .baishnav-first-section-image-container {
    height: 150px;
}
}

/* second section (shop by catgory) */

.baishnav-items-category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.baishnav-items-category-container > a > .baishnav-items-category {
  height: 195px;
  width: 322px;
  background-color: #f4f4f4;
}
.baishnav-items-category-container > a {
  margin-right: 12px;
  margin-bottom: 12px;
}
.baishnav-items-category-container > a > .baishnav-items-category img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.baishnav-shopby-category-wrapper {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 64px;
  margin-top: 70px;
  position: relative;
}
.baishnav-shopby-category-wrapper > h1 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
  margin-bottom: 34px;
  text-align: center;
}
.baishnav-shopby-category-wrapper h1::before {
  content: " ";
  position: absolute;
  width: 12px;
  top: 4%;
  left: 41%;
  border-bottom: 2px solid #d80025;
}
.baishnav-shopby-category-wrapper h1::after {
  content: " ";
  position: absolute;
  width: 12px;
  top: 4%;
  right: 41%;
  border-bottom: 2px solid #d80025;
}

@media(min-width:1500px){
  .baishnav-items-category-container > a > .baishnav-items-category {

    width: 331px;
   
}
}
@media (min-width: 1367px) and (max-width:1464px){
  .baishnav-items-category-container > a > .baishnav-items-category {
    width: 297px;
  }
}
@media (max-width: 1366px) {
  .baishnav-items-category-container > a > .baishnav-items-category {
    width: 293px;
  }
}
@media(max-width:1348px){
  .baishnav-shopby-category-wrapper h1::before {
    top: 2%;
    left: 39%;
}
.baishnav-shopby-category-wrapper h1::after {
  top: 2%;
  right: 39%;
}
}

@media(max-width:992px){
  .baishnav-shopby-category-wrapper h1::after {
    right: 35%;
}
.baishnav-shopby-category-wrapper h1::before {
  left: 35%;
}
}

@media(max-width:768px){
  .baishnav-shopby-category-wrapper {
    padding: 0px 16px;
}
.baishnav-shopby-category-wrapper h1::after {
  right: 32%;
}
.baishnav-shopby-category-wrapper h1::before {
  left: 32%;
}
}

@media(max-width:641px){
  .baishnav-shopby-category-wrapper h1::after {
    top: 1%;
    right: 28%;
}
.baishnav-shopby-category-wrapper h1::before {
  top: 1%;
  left: 28%;
}
}

@media(max-width:460px){
  .baishnav-shopby-category-wrapper h1::before {
    left: 20%;
}
.baishnav-shopby-category-wrapper h1::after {
  right: 20%;
}
}
@media(max-width:360px){
  .baishnav-shopby-category-wrapper h1::before {
    left: 15%;
}
.baishnav-shopby-category-wrapper h1::after {
  right: 15%;
}
}





/* bihani serves happiness section */

.feedback-slider-baishnab > button {
  display: none !important;
}
.baishnav-home-serves-happiness-wrapper {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 64px;
  margin-top: 185px;
  position: relative;
}
.baishnav-home-serves-happiness-wrapper > h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
  margin-bottom: 33px;
}
.baishnav-home-serves-happiness-wrapper h1::before {
  content: " ";
  position: absolute;
  width: 12px;
  top: 4%;
  left: 34%;
  border-bottom: 2px solid #d80025;
}
.baishnav-home-serves-happiness-wrapper h1::after {
  content: " ";
  position: absolute;
  width: 12px;
  top: 4%;
  right: 34%;
  border-bottom: 2px solid #d80025;
}

.baishnav-serves-happiness-card-container {
  display: flex;
  justify-content: flex-start;
}
.rating-star-image img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.baishnav-smile-image img {
  width: 47px;
  height: auto;
  z-index: 1;
  margin-right: 12px;
}

.baishnav-ratings-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 17px;
}
.rating-star-image-container {
  display: flex;
}
.baishnav-feedback-text {
  max-width: 448px;
  font-size: 13px;
  font-weight: 400;
  font-family: "Poppins";
  color: #000000;
  opacity: 37%;
  line-height: 1.7;
}
.baishnav-feedback-text p {
  width: 85%;
}
.feedback-section-baishnav {
  max-width: 483px;
  margin-right: 12px;
}
.feedback-wrapper-baishnav {
  display: flex;
  justify-content: center;
}
.baishnav-rating-header > p {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins";
  color: #000000;
}
.feedback-wrapper-baishnav > .slick-dots {
  bottom: -33px !important;
}
.slick-dots li.slick-active button:before {
  color: #d80025;
}


@media(max-width:960px){
  .baishnav-home-serves-happiness-wrapper h1::after {

    right: 30%;

}
.baishnav-home-serves-happiness-wrapper h1::before {

  left: 30%;

}
}
@media(max-width:800px){
  .baishnav-home-serves-happiness-wrapper h1::before {
    left: 25%;
  }
  
.baishnav-home-serves-happiness-wrapper h1::after {
  right: 25%;
}

}
@media (max-width: 640px){
  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 20%;
}
.baishnav-home-serves-happiness-wrapper h1::before {
  left: 20%;
}
}
@media (max-width: 525px){
  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 15%;
}
.baishnav-home-serves-happiness-wrapper h1::before {
  left: 15%;
}
}
@media (max-width: 460px){
  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 10%;
}
.baishnav-home-serves-happiness-wrapper h1::before {
  left: 10%;
}
}

@media(max-width:430px){
  .baishnav-home-serves-happiness-wrapper {
    padding: 0px 24px;

}
.baishnav-home-serves-happiness-wrapper h1::after {
  right: 8%;
}
.baishnav-home-serves-happiness-wrapper h1::before {
left: 8%;
}
}
@media (max-width: 375px){
  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 5%;
}
.baishnav-home-serves-happiness-wrapper h1::before {
  left: 5%;
}
}
@media (max-width: 345px){
  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 3%;
}
.baishnav-home-serves-happiness-wrapper h1::before {
  left: 3%;
}
}

/* Featured product section */
.baishnab-home-featured-products-card {
  width: 267px;
  height: auto;
  margin-right: 31px;
  margin-bottom: 96px;

  margin-right: auto;
  margin-left: auto;
}
.slick-next:before,
.slick-prev:before {
  font-size: 31px;
  opacity: 100%;
  color: #d80025;
}
.baishnab-featured-product-slider > .slick-prev {
  left: 0.5%;
}
.baishnab-featured-product-slider > .slick-next {
  right: 1%;
}
.baishnab-home-featured-products-wrapper > h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
  margin-bottom: 34px;
  margin-top: 85px;
}
.baishnab-home-featured-products-card-container a {
  text-decoration: none;
}
.baishnab-home-featured-products-wrapper h1::before {
  content: " ";
  position: absolute;
  width: 12px;
  top: 2%;
  left: 38%;
  border-bottom: 2px solid #d80025;
}
.baishnab-home-featured-products-wrapper h1::after {
  content: " ";
  position: absolute;
  width: 12px;
  top: 2%;
  right: 38%;
  border-bottom: 2px solid #d80025;
}
.baishnab-home-featured-products-image {
  background-color: #f4f4f4;
  max-width: 267px;
  height: 305px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.baishnab-home-featured-products-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.baishnab-home-featured-products-descirption {
  max-width: 267px;
  padding: 8px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}
.baishnab-home-featured-products-descirption > p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
  color: #000000;
}
.baishnab-home-featured-products-descirption > span {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}
.baishnab-home-featured-products-wrapper {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 64px;
  margin-top: 80px;
  position: relative;
  margin-bottom: -137px;
}

@media (min-width: 1380px) {
  .bs-featured-card-css {
    margin-right: 10px;
    margin-bottom: 31px;
  }
  .baishnab-featured-product-slider > .slick-prev {
    left: -1%;
  }
  .baishnab-home-featured-products-wrapper {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 64px;
    margin-top: 70px;
  }
  .baishnab-home-featured-products-descirption {
    margin-right: 48px;
  }
}

@media (min-width: 1380px) and (max-width:1490px){
  .baishnab-home-featured-products-image {

    max-width: 244px;
   
}
}
@media(max-width:768px){
  .baishnab-home-featured-products-wrapper {
    padding: 0px 16px;
}
.baishnab-home-featured-products-image {
  max-width: 80%;
}
.baishnab-home-featured-products-card {
  width: 100%;
}
}
/* baishnab recent news section of home */
.baishnab-home-recent-news-wrapper {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 64px;
  margin-top: 70px;
  position: relative;
}
.baishnab-home-recent-news-card-conatiner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.baishnab-home-recent-news-card-conatiner > a {
  text-decoration: none;
}
.baishnab-home-recent-news-card {
  max-width: 316px;
  height: auto;
  margin-right: 13px;
  margin-bottom: 100px;
}
.baishnab-home-recent-news-description {
  height: 120px;
  max-width: 342px;
}
.baishnab-home-recent-news-image {
  background-color: white;
  max-width: 342px;
  height: 186px;
}
.baishnab-home-recent-news-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.baishnab-home-recent-news-description > h1 {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins";
  color: #000000;
  padding-top: 22px;
  padding-bottom: 16px;
}

.baishnab-home-recent-news-section
  > .baishnab-home-recent-news-wrapper
  h1::before {
  content: " ";
  position: absolute;
  width: 12px;
  top: 17%;
  left: 41%;
  border-bottom: 2px solid #d80025;
}
.baishnab-home-recent-news-section
  > .baishnab-home-recent-news-wrapper
  h1::after {
  content: " ";
  position: absolute;
  width: 12px;
  top: 17%;
  right: 41%;
  border-bottom: 2px solid #d80025;
}

.baishnab-home-recent-news-description > p {
  font-size: 13px;
  font-weight: 400;
  font-family: "Poppins";
  color: #000000;
  opacity: 37%;
  line-height: 1.7;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  overflow: hidden;
}
.baishnab-home-recent-news-wrapper > h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
  margin-bottom: 22px;
  padding-top: 80px;
}
.baishnab-home-recent-news-section {
  background-color: #f4f4f4;
  margin-top: 192px;
}
@media (max-width: 1366px) {
  .baishnab-home-recent-news-card {
    max-width: 277px;
    height: auto;
    margin-right: 27px;
    margin-bottom: 100px;
  }
}
@media (max-width: 1343px) {
  .baishnab-home-recent-news-section > .baishnab-home-recent-news-wrapper h1::after {
    top: 10%;
    right: 40%;

  }
  .baishnab-home-recent-news-section > .baishnab-home-recent-news-wrapper h1::before {
    top: 10%;
    left: 40%;

  }
}


@media (max-width: 992px) {
  .baishnab-home-recent-news-section > .baishnab-home-recent-news-wrapper h1::after {
    top: 9.5%;
    right: 38%;
}
.baishnab-home-recent-news-section > .baishnab-home-recent-news-wrapper h1::before {
  top: 9.5%;
  left: 38%;
}
  .baishnab-home-recent-news-section {
    margin-top: 0px;
  }
  .baishnab-home-featured-products-wrapper h1::before{
    left: 35%;
}
  .baishnab-home-featured-products-wrapper h1::after {
    right: 35%;
}
}

@media (max-width: 859px) {
  .baishnab-home-recent-news-card {
    max-width: 338px;
  }
}
@media(max-width:857px) and (min-width:769px){
  .baishnab-home-recent-news-section > .baishnab-home-recent-news-wrapper h1::after {
    top: 5%;
    right: 36%;
}
.baishnab-home-recent-news-section > .baishnab-home-recent-news-wrapper h1::before {
  top: 5%;
  left: 36%;
}
}
@media (max-width: 768px) {
 
  .baishnab-home-featured-products-wrapper h1::before {
    left: 30%;
}
.baishnab-home-featured-products-wrapper h1::after {
  right: 30%;
}
.baishnab-home-recent-news-wrapper {
  padding: 0px 16px;
}
.baishnab-home-recent-news-card {
  max-width: 342px;
margin-right: 0px;
}
}

@media(min-width:639px) and (max-width:716px){
  .baishnab-home-recent-news-section > .baishnab-home-recent-news-wrapper h1::after {
    top: 5.2%;
    right: 38%;
}
.baishnab-home-recent-news-section > .baishnab-home-recent-news-wrapper h1::before {
  top: 5.2%;
  left: 38%;
}
}
@media(max-width:639px){
  .baishnab-home-recent-news-section > .baishnab-home-recent-news-wrapper h1::after {
    top: 5.3%;
    right: 31%;
}
.baishnab-home-recent-news-section > .baishnab-home-recent-news-wrapper h1::before {
  top: 5.3%;
  left: 31%;
}
}

@media (max-width: 556px) {
  .baishnab-home-recent-news-card {
    max-width: 338px;
  }
  .baishnab-home-featured-products-wrapper h1::before {
    left: 25%;
}
.baishnab-home-featured-products-wrapper h1::after {
  right: 25%;
}
}

@media (max-width: 430px) {
  .baishnab-home-featured-products-wrapper h1::before {
    left: 20%;
}
.baishnab-home-featured-products-wrapper h1::after {
  right: 20%;
}
.baishnab-home-recent-news-card {
  margin-right: 0px;

}
.baishnab-home-recent-news-section > .baishnab-home-recent-news-wrapper h1::after {
  top: 5.3%;
  right: 25%;
}
.baishnab-home-recent-news-section > .baishnab-home-recent-news-wrapper h1::before {
  top: 5.3%;
left: 25%;
}

}
@media (max-width: 360px) {
  .baishnab-home-featured-products-wrapper h1::before {
    left: 15%;
}
.baishnab-home-featured-products-wrapper h1::after {
  right: 15%;
}
}

/* baishnab home our product section */

.baishnab-home-our-products-wrapper
  > .baishnab-home-featured-products-wrapper
  h1::before {
  content: " ";
  position: absolute;
  width: 12px;
  top: 1%;
  left: 41%;
  border-bottom: 2px solid #d80025;
}
.baishnab-home-our-products-wrapper
  > .baishnab-home-featured-products-wrapper
  h1::after {
  content: " ";
  position: absolute;
  width: 12px;
  top: 1%;
  right: 41%;
  border-bottom: 2px solid #d80025;
}

.baishnab-home-our-products-cards-wrapper {
  display: flex;
  justify-content: center;
}
.baishnab-our-product-slider > .slick-prev {
  top: 45%;
  left: 1%;
}
.baishnab-our-product-slider > .slick-next {
  top: 45%;
  right: 1%;
}
.baishnab-home-tab-headers {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.baishnab-home-tab-headers {
  color: black;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  width: calc(100% / 2);
  margin-left: auto;
  margin-right: auto;
}
.baishnab-home-tabs > ul {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.baishnab-home-tabs > ul > li > a {
  color: black;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  opacity: 37%;
}

.baishnab-home-tabs > ul > li .active {
  color: #d80025;
  border-bottom: 2px solid #d80025;
  opacity: 100%;
}

.bs-discount-home-baishnab {
  opacity: 37%;
  text-decoration: line-through;
  margin-left: 16px;
}
.discount-clip-baishnab {
  z-index: 1 !important;
  float: right;
  width: 55px;
  background-color: #e30513;
  padding: 4px 10px;
  padding-left: 18px;
  text-align: center;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 26% 46%);
  position: absolute;
  top: 1%;

  color: white;
  left: 77.7%;
}
.discount-clip-baishnab > span {
  z-index: 1;
}
.baishnab-home-card-hover-info {
  display: none;
  transition: 0.5s;
}
.baishnab-home-featured-products-card:hover .baishnab-home-card-hover-info {
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -54px;
}
.baishnab-home-card-hover-info > .hover-eye-icon {
  width: 42px;
  height: 42px;
  background-color: white;
  border-radius: 50%;
  padding: 11px;
  cursor: pointer;
}
.baishnab-home-card-hover-info > .hover-eye-icon img {
  width: 100%;
}

@media (min-width: 1380px) {
  .baishnab-home-our-product-card > .baishnab-home-featured-products-card {
    margin-right: 0 !important;
    margin-bottom: 31px;
  }
}

@media(max-width:924px){
  .baishnab-featured-product-slider > .slick-next {
    right: 2%;
}

.baishnab-home-our-products-wrapper > .baishnab-home-featured-products-wrapper h1::before {
  left: 36%;
}
.baishnab-home-our-products-wrapper > .baishnab-home-featured-products-wrapper h1::after {
  right: 36%;
}
}

@media(max-width:700px){
  .baishnab-our-product-slider > .slick-next {

    right: 3%;
}
.baishnab-home-our-products-wrapper > .baishnab-home-featured-products-wrapper h1::after {
  right: 32%;
  top: 2%;
}
.baishnab-home-our-products-wrapper > .baishnab-home-featured-products-wrapper h1::before {
  left: 32%;
  top: 2%;
}
}

@media(max-width:460px){
  .baishnab-home-our-products-wrapper > .baishnab-home-featured-products-wrapper h1::after {
    right: 25%;
   
  }
  .baishnab-home-our-products-wrapper > .baishnab-home-featured-products-wrapper h1::before {
    left: 25%;
 
  }
}
@media(max-width:430px){
  .baishnab-home-featured-products-image {
    height: 200px;
 
}
.baishnab-featured-product-slider > .slick-next {
  right: 3%;
}
}

/* footer section */
.baishnab-footer-wrapper{
  background-color: #535353;
}
.baishnab-footer{
  padding: 53px 64px;
  height: 519px;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}
.baishnab-footer-logo-container{
  height: 166px;
  width: 207px;
}
.baishnab-footer-logo-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.second-last-section-baishnab{
  max-width: 1500px;
  padding: 0 64px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 77px;
  margin-bottom: 77px;
}
.baishnab{
  background-color: #f4f4f4;
  height: 274px;
  width: 100%;
}