.bs-ap{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    padding: 32px 64px;
    margin-bottom: -100px;
}
.years-in-bussiness{
    height: 200px;
    width: 99.5%;
    text-align: center;
    background: #d80025;
    color: white;
    margin-bottom: 2px;
}
.years-in-bussiness-detail{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.years-in-bussiness p{
    font-size: 52px;
    font-weight: bold;
}
.years-in-bussiness span{
    font-size: 14px;
}
.bs-about-second-section{
    margin-bottom: 70px;
}
.bs-about-image{
    height: 160px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.bs-about-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bs-about-description h2, .bs-au-description{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.bs-au-description{
    font-size: 14px;
    line-height: 1.9;  
}
.bs-about-description{ 
    margin-top: 45px;
}
.bs-au-detail-description{
    margin: 70px 0px;
    font-size: 14px;
    line-height: 1.9;
}

@media(max-width:768px){
    .bs-ap{

        padding: 32px;
    }
}