.bs-cart-page-wrapper {
  max-width: 1500px;
  padding: 16px 64px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -100px;
}
.bs-cart-page-wrapper > h2,
.woocommerce-order-details__title,
.woocommerce-customer-details h2 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
  padding-left: 6px;
  margin-top: 32px;
}
.cart-collaterals .cart_totals h2 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}
.bs-cart-page-wrapper .woocommerce-cart-form .product-thumbnail a img {
  height: 48px;
  /* max-width: 100%; */
  width: 80px !important;
  object-fit: contain !important;
}
.woocommerce-cart-form .product-name a,
.woocommerce-cart-form .product-price,
.woocommerce-cart-form .product-quantity {
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 500;
  color: black !important;
  background-color: transparent !important;
}
.bs-cart-page-wrapper .woocommerce-cart-form .coupon input {
  width: 122px ;
  text-align: center;
  height: 100%;
  padding: 4px;
  margin-bottom: 12px;
}
.woocommerce .cart .button,
.woocommerce .cart input.button {
  float: none;
  background: #d80025 !important;
  color: white !important;
  font-weight: 400 !important;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.return-to-shop > a {
  background: #d80025 !important;
  color: #fff !important;
  font-weight: 400 !important;
}
.cart-page-first-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cart-page-first-wrapper .woocommerce-cart-form {
  width: 63%;
}
.cart-page-first-wrapper .cart-collaterals {
  width: 34%;
  background: #fafafa;
  padding: 16px;
  height: auto;
  margin-bottom: 25px;
  border-radius: 7px;
  
}
.bs-rm{
  color: #000000;
  font-size: 12px;
}
.product-quantity a:hover{
  opacity: 60%;
  color: #000000;
}
.cart-page-first-wrapper .cart-collaterals .cart_totals {
  width: 100%;
  position: sticky;
  top: 8%;
}

.woocommerce a.remove {
  display: block;
  font-size: 16px;
  height: 17px;
  width: 17px;
  text-align: center;
  /* line-height: 1; */
  border-radius: 100%;
  color: white !important;
  background: black;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  align-items: center;
  display: flex !important;
  justify-content: center;
  margin-left: -45px;
}

.woocommerce a.remove:hover {
  color: #fff !important;
  background: #d80025 !important;
}
.product-thumbnail a {
  margin-left: 8px;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 600;
  color: black !important;
}
.woocommerce table.shop_table td:nth-child(2) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 9px 9px 9px 0px !important;
}

.cart-page-first-wrapper #bscp{
  padding-left: 24px !important;
}
.cart-page-first-wrapper .quantity span,
.cart-page-first-wrapper .quantity .plus,
.cart-page-first-wrapper .quantity .minus, .remodal-is-opened .quantity .minus,  .remodal-is-opened .quantity .plus {
  display: none;
}

@media (max-width: 992px) {
  .cart-page-first-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .cart-page-first-wrapper .woocommerce-cart-form {
    width: 100%;
  }
  .cart-page-first-wrapper .cart-collaterals {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .woocommerce a.remove {
    margin-left: 0px;
  }
  .coupon button,
  .coupon input {
    width: 100% !important;
  }
  .bs-cart-page-wrapper {
    padding: 32px;
  }
}

@media(max-width:450px){
  .bs-cart-page-wrapper{
    padding: 16px;
    }
    
}


.custom-css th {
  padding-left: 12px !important;
}
