.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}
.row {
  margin: 0 !important;
  padding: 0 !important;
}
.category-page-products > .product-category-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.category-page-products ul {
  list-style: none;
}
.baishnab-category-products-wrapper {
  margin-top: -70px;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 64px;
}
.bs-category-page-first-wrapper {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 84px 64px 0px 64px;
}
.baishnav-category-short-by {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  /* padding: 0px 64px; */
  margin-bottom: 75px;
  margin-top: 42px;
  float: right;
  display: flex;
  color: #000000;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
}
.baishnav-category-short-by > span {
  color: #000000;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
}
.baishnab-category-sidebar-container
  > .baishnav-category-sidebar-heading
 
  h2 {
  color: #000000;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 9px;
}
.baishnab-category-sidebar-container
  > .baishnav-category-sidebar-heading

  a {
  color: #000000;
  font-family: "Poppins";
  font-size: 14px;
  opacity: 60%;
  font-weight: 400;
  /* padding-left: 8px; */
}
.baishnab-category-sidebar-container
  > .baishnav-category-sidebar-heading
  a:hover{
    color: #d80025;
    opacity: 100%;
  }
.baishnav-category-sidebar-heading {
  padding-top: 22px;
  padding-left: 29px;
}
.baishnab-category-sidebar-container
  > .baishnav-category-sidebar-heading
  > input {
  color: #000000;

  opacity: 60%;
}
.bs-hero-category-hero-description h1 {
  color: #000000;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}
.bs-hero-category-hero-description p {
  color: #000000;
  font-family: "Poppins";
  font-size: 15px;
  line-height: 1.9;
  opacity: 50%;
  font-weight: 400;
}
.bs-hero-category-hero-description img {
  display: none;
}
.baishnab-category-sidebar-wrapper {
  width: 95%;
  padding-left: 0 !important;
}
.bs-hero-category-wrapper {
  padding: 0;
  margin-bottom: 22px;
}
.bes-category-first-sweets-description {
  background-color: #f5f3ef;
}
.baishnab-category-sidebar-container {
  background: #f7f7f7;
  width: 90%;
  height: auto;
  padding-bottom: 22px;
}
.bs-hero-category-hero-description {
  max-width: 70%;
  padding-top: 72px;
  padding-left: 36px;
  margin-right: 16px;
}
.baishnav-category-short-by select {
  width: 185px;
  padding: 4px 12px 5px 12px;
  height: 40px;
  border: 1px solid #e5e5e5;
  outline: none;
}
.bs-category-first-container {
  display: flex;
  justify-content: space-between;
}
.bs-hero-category-hero-image {
  width: 369px;
  height: 284px;
  /* float: right; */
}
.bs-hero-category-hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.baishnav-category-sidebar-heading ul li h2,
.baishnav-category-sidebar-heading ul li ul li a {
  padding-top: 22px;
  padding-left: 29px !important;
}


/* css for dynamic */
.new-alignment {
  display: flex;
  padding-right: 0 !important;
}
.category-page-products > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.baishnab-category-sidebar-container ul {
  list-style: none;
  margin-bottom: 0 !important;
}
.baishnab-category-sidebar-container ul form {
  display: none;
}
.category-page-products > .woocommerce-ordering {
  display: none;
}
.category-page-products ul li h2 {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
  color: #000000;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 12px;
  padding: 8px;
}
.category-page-products ul li .price {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
}
.category-page-products ul li a {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}
.category-page-products ul li {
  /* width: 25%; */
  position: relative;
  height: auto;
  margin-right: 12px;
  /* margin-bottom: 96px; */
  text-align: center;
  margin-bottom: 50px;
  /* margin-right: auto; */
  /* margin-left: auto; */
}
.category-page-products ul li:last-child{
    /* margin-right: auto; */
}
.product_type_grouped{
  display: flex;
  justify-content: center;
}
.category-page-products ul li .star-rating {
  display: none;
}
.products li .quick_view,
.products li .add_to_cart_button,
.baishnab-home-featured-products-card-container li .quick_view {
  display: none;
}
.products li:hover .add_to_cart_button {
  display: block;
  position: absolute;
  /* top: 75%; */
  bottom:19%;
  left: 25%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px 0px grey;
  animation: mymove 350ms;
  animation-fill-mode: forwards;
transition: 1s ease;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.products li:hover .quick_view {
  display: block;
  position: absolute;
  /* top: 75%; */
  bottom:19%;
  left: 65%;
  padding: 4px;
  border-radius: 100%;
  background-color: #f4f5f6;
  transform: translate(-50%, -50%);
  animation: mymove 350ms;
  animation-fill-mode: forwards;
transition: 1s ease;
cursor: pointer;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.category-page-products ul > li > a > img {
  background-color: #f4f4f4;
  width: 240px;
  height: 305px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
}

.page-description p:nth-child(1) {
  display: none;
}

@media (min-width: 1380px) and (max-width: 1490px) {
  .product-image-container {
    max-width: 255px !important;
  }
}
@media (min-width: 1450px) {
  .product-image-category {
    width: 230px !important;
    margin-right: 22px !important;
  }
}
@media(max-width:1400px){
  .category-page-products .bs-product-image-wrapper-woo{
    width: 267px;
  }
}
@media(max-width:1263px){
  .category-page-products > ul {
    justify-content: space-evenly;
  }
}
@media (max-width: 1200px) {
  .product-image-container {
    max-width: 244px !important;
  }
  .bs-hero-category-hero-description {
    max-width: 50%;

    padding-top: 32px;
    padding-left: 27px;
  }
}
@media (max-width: 992px) {
  .baishnav-category-short-by{
    margin-bottom: 0;
  }
  .baishnab-category-products-wrapper {
    margin-top: 0px;
   
  }
  .bs-category-first-container {
    flex-direction: column;
  }
  .bs-hero-category-hero-description {
    max-width: 70%;
  }
  .bs-hero-category-hero-image {
    width: 160px;
    height: 160px;
    /* padding-top: 16px;
    padding-left: 16px; */
    /* margin-top: 70px; */
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .baishnab-category-products-wrapper {
    padding: 16px;
  }
  .bs-category-page-first-wrapper > .container-fluid > .row {
    flex-direction: column-reverse !important;
  }
  .baishnab-category-sidebar-wrapper {
    margin-top: 32px;
  }
  .product-image-category {
    width: 267px !important;
  }
  .baishnav-category-sidebar-heading {
    margin-right: 20px;
  }
  .baishnab-category-sidebar-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
  .bs-category-page-first-wrapper,
  .baishnav-category-short-by {
    padding: 16px;
    padding-bottom: 0;
  }
  .baishnav-category-short-by{
    margin-top: 16px;
  }
  .bs-hero-category-wrapper {
    margin-bottom: 0px;
  }
  .baishnab-category-sidebar-container {
    width: 100%;
  }
  .baishnab-category-sidebar-wrapper {
    width: 100%;
  }

  .baishnav-category-short-by {
    /* margin-bottom: 100px;
        margin-left: 16px; */
  }
  .baishnav-category-short-by > select {
    float: left;
  }
}
@media(min-width:1460px){
  .category-page-products > ul{
    justify-content: start;
  }
}
@media (min-width: 1458px) {

  .category-page-products>ul>li>img {
    width: 234px !important;
  }
  .category-page-products>ul>li>img{
    height: 260px;
  }
  /* .quick_view span > img{
    height: 14px !important;
  width: 14px !important;
  } */

  .category-page-products ul li {
    width: 234px !important;

  }
  .woocommerce-pagination> ul> li {
    width: 10px !important;
}
  .bs-product-image-wrapper-woo{
    height: 300px;
  }

}

@media (max-width: 1200px) {
  .category-page-products ul li {
    margin-right: 12px !important;
  }
  .category-page-products ul li:last-child {
    /* margin-right: auto !important; */
    /* margin-left: 60px; */
  }
}


@media(max-width:767px){
  .variations_form .product-quantity {
    margin-top: 26px;
  
  }
}

@media (max-width: 666px) {
  .category-page-products ul li {
    /* margin-right: auto !important;
    margin-left: auto; */
  }
}

@media (max-width: 500px) {
  .bs-hero-category-hero-image {
    display: none;
  }
  .page-description {
    padding-bottom: 32px;
  }
}

/* quick view css */

/* .baishnab-home-featured-products-card-container li:hover .quick_view {
    display: block;
    background: red;
    position: absolute;
		padding:7px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 50%);
} */
.baishnab-home-featured-products-card-container li:hover .quick_view {
  display: block;
  border-radius: 100%;
  background: #f4f5f6;
  position: absolute;
  padding: 5px;
  font-size: 12px;
  font-family: "Poppins";
  /* top: 75%; */
  bottom: 19%;
  text-decoration: none;
  cursor: pointer;
  left: 70%;
  transform: translate(-50%, -50%);
  animation: mymove 350ms;
    animation-fill-mode: forwards;
  transition: 1s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes mymove {
    from {bottom: 15%;}
    to {bottom: 19%;}
  }

.product .images a img {
  width: 95% !important;
  object-fit: contain !important;
  /* height: auto; */
  max-height: 360px;
}
.variations_form .single_add_to_cart_button {
  background-color: #d80025;
  color: white;
  font-weight: 500;
  font-family: "Poppins";
  font-size: 16px;
  padding: 14px 24px;
  /* margin-top: 46px; */
  margin-bottom: 22px;
  border-radius: 5px;
  display: flex;
  margin-right: 23px;
  text-decoration: none;
  outline-style: none;
  border-style: none;
  position: absolute;
  /* margin-top: 80px; */
}

@media(max-width:500px){
  .product .images a img {
    height: auto;
}

}
.variations_form .product-quantity {
  /* margin-top: 26px; */
  margin-bottom: 80px;
}
.remodal-is-opened .thumbnails {
  /* display: none; */
}
#wcqv_contend .product .images .thumbnails {
  position: relative !important;
  bottom: 0 !important;

}
.remodal-is-opened .variations {
  margin-bottom: 22px;
}
.remodal  .slick-prev {
  left: 0% !important;
  z-index: 1 !important;
}
.remodal  .slick-next {
  right: 11% !important;
  z-index: 1 !important;
}
.remodal {
  height: 78%;
}

.remodal-is-opened .variations .reset_variations {
  visibility: visible;
  font-size: 12px;
  color: black;
  opacity: 60%;
  float: right;
}
.remodal-is-opened .variations select {
    margin-left: 12px;
    margin-top: 12px;
}
.remodal-is-opened .discount-clip-baishnab {
    z-index: 1 !important;
    float: none;
    /* width: 55px; */
    width: auto;
    background-color: #e30513;
    padding: 4px 10px;
    /* padding-left: 18px; */
    text-align: center;
    clip-path: polygon(0% 0%, 100% 2%, 72% 51%, 100% 100%, 0% 100%);

    position: absolute;
    top: 14px;
    color: white;
    left: 14px;
    right: unset;
}
.remodal-is-opened .discount-clip-baishnab span{
  padding-right: 22px;
  padding-left: 4px !important;
}
.remodal-is-opened .bs-button-collection button {
  background-color: #d80025;
  color: white;
  font-weight: 500;
  font-family: "Poppins";
  font-size: 16px;
  padding: 14px 24px;
  margin-top: 46px;
  margin-bottom: 22px;
  border-radius: 5px;
  display: flex;
  margin-right: 23px;
  text-decoration: none;
  outline-style: none;
  border-style: none;
}
.remodal-is-opened .product-quantity {
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 600;
  color: black !important;
  background-color: transparent !important;
  text-decoration: none;
}
.remodal-is-opened .product_meta .posted_in{
    font-size: 14px;
}
.remodal-is-opened  #bs-share-icon{
    margin-top: 0;
}
 .thumbnail {
  display: none;
}
.slick-slide .thumbnail{
  display: block;
}
.remodal .product_meta {
    margin-top: 0;
}
.remodal-is-opened .bs-share {
    margin-bottom: 12px;
}
.product-description, .woocommerce-variation-description{
    line-height: 1.6;
}

.product_meta{
    display: flex;
    flex-direction: column;
    font-size: 14px !important;
}
.product .summary .cart {
  display: table-cell !important;
}

.remodal-is-opened #wcqv_contend .woocommerce-Price-amount {
  color: black !important;
  font-size: 18px !important;
  font-family: "Poppins";
  font-weight: 600;
}
#wcqv_contend .product_title.entry-title {
  color: #000000;
  font-family: "Poppins";
  font-size: 20px !important;
  font-weight: 600;
}
.remodal .remodal-close:hover {
  background-color: #e30513;
  color: white;
}
.remodal .remodal-close {
  color: #e30513;
}
@media(max-width:768px){
    #wcqv_contend .summary{
        width: 100% !important;
    }
}
.page-numbers{
  display: flex;

}
.category-page-products .woocommerce-result-count {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  left: 30%
}
.woocommerce-pagination> ul> li {
  margin: 0px;
  /* width: 10px !important; */
  /* border: 2px solid #d80025; */
  color: #d80025;
  font-weight: 500;
  padding: 4px 14px;
  /* margin-right: 23px; */
  background-color: #f6f7f8;
}
.woocommerce-pagination ul li a, .woocommerce-pagination ul li span{
  text-align: center;
  display: flex;
  justify-content: center;
}
.baishnab-category-products-wrapper .woocommerce-pagination{
  left: 32%;
  position: absolute;
  text-align: center;

  transform: translate(0, 10%);
}


/* order history page css */
.woocommerce-MyAccount-content .woocommerce-MyAccount-orders .woocommerce-orders-table__cell a{
  color: black;

}