.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  float: left;
  /* width: 48%; */
  flex: 0 0 55%;
  max-width: 50%;
}
.woocommerce .form-row {
  display: block !important;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: right;
  width: 48%;
  flex: 0 0 50% !important;
  max-width: 40% !important;
}
.woocommerce form .form-row label {
  line-height: 2;
  color: black;
  font-size: 14px;
  font-family: "Poppins";
}
.woocommerce h3 {
  font-size: 20px !important;
  font-family: "Poppins";
}
.woocommerce form .form-row input.input-text {
  padding: 16px;
  border: 2px solid #fafafa;
  height: 32px;
  background: white;
}
.woocommerce-checkout .cart_item .product-thumbnail img{
  width: 35px !important;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment{
  background-color: #fafafa !important;
}
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box{
  display: none !important;
}
.woocommerce form .form-row textarea {
  outline: none;
  border-style: none;
  height: 100%;
  padding: 16px;
  background: white;
}
.quick_view span {
  height: 14px !important;
  width: 14px !important;
}
.add_to_cart_button {
  height: 32px !important;
  width: 32px !important;
  padding: 6px;
  border-radius: 100% !important;
  background-color:#fafafa;
}
.quick_view span > img {
  height: 100% !important;
  width: 100% !important;
}
.add_to_cart_button > img {
  height: 100% !important;
  width: 100% !important;
}

.woocommerce-privacy-policy-text p {
  font-family: "poppins";
  font-size: 14px;
}
.showcoupon {
  color: #d80025;
}
.checkout_coupon p {
  font-family: "poppins";
}
.checkout_coupon button {
  background-color: #d80025 !important;
  color: white !important;
  font-weight: 400 !important;
}

.bs-custom-checkout-css {

  margin: 16px 0px !important;
  padding: 16px;
}
.bscc{
  background-color: #fafafa;
}
.checkout-bs-table-custom-css{
    background-color:#fafafa;

    padding: 16px;   
}
 .woocommerce-additional-fields > h3,
.woocommerce-billing-fields > h3 {
  text-align: center;
  padding: 16px 0px;
}
.woocommerce-additional-fields__field-wrapper label{
    text-align: center;  
}
.checkout #order_review_heading{
    font-weight: 500;
    font-family: "Poppins";
    font-size: 20px;
    text-align: center;
    margin: 16px 4px 16px 4px !important;
}
.checkout-bs-table-custom-css .cart_item td{
    opacity: 90% !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    padding-left: 0px !important;
}
.woocommerce-checkout table.shop_table{
  border-style: none;
}
.select2-selection {
    height: 32px !important;
}
.woocommerce table.shop_table th {
  padding: 9px 0px;
  font-family: 'Poppins';
}
.coupon{
  margin-bottom: 14px;
}
.coupon>button{
  margin-top: 12px !important;
}
.bs-uc {
text-align: left !important;
}
.bsst{
  padding-left: 12px !important;
}
.wc_payment_method {
  font-family: "Poppins";
}
.woocommerce-checkout-payment{
  margin: 46px 0px !important;
}
.woocommerce-checkout-review-order .woocommerce-checkout-review-order-table {
  display: none !important;
}
.woocommerce-checkout>.row{
  justify-content: space-between;
}
.woocommerce-thankyou-order-details, .order_details, address {
  background-color: #fafafa;
  padding: 32px 16px;
  border-radius: 4px;

  padding: 16px;  
}
.orImg img{
width: 45px;
height: auto;
margin-right: 22px;
}
.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th{
  border-top: 0 !important;
  border-bottom: 1px solid rgba(0,0,0,.1);

}
.woocommerce-checkout table.shop_table tbody th{
  padding: 16px;
}
.order-total>th, .order-total>td{
  border-bottom: 0 !important;
}
.woocommerce-checkout table.shop_table td{
  border-top: none !important;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.woocommerce-order .woocommerce-customer-details  address{
line-height: 1.9;
}
.woocommerce ul.order_details li{
  line-height: 1.9;
  font-family: 'Poppins';
  margin-bottom: 12px;
  word-break: break-all;
}
.woocommerce ul.order_details li strong {
  font-weight: 600;
}
.payment-method-custom-css p {
  
  font-weight: 600 !important;
  font-family: 'Poppins';
  color: #d80025 !important;

}
.woocommerce table.shop_table td {
  /* padding: 9px 0px; */
}
.woocommerce .woocommerce-customer-details :last-child, .woocommerce .woocommerce-order-details :last-child, .woocommerce .woocommerce-order-downloads :last-child{
  font-family: "Poppins";
}
.woocommerce-table__product-name a{
  font-family: "Poppins";
  color: #000;
}