.bs-branches{
  margin: 22px 0px;
}
.bs-contact-map-detail>a{
  
  color: black;
  font-size: 14px;
  font-family: 'Poppins';

}
.contact-us-form-container h2 {
  color: black;
  font-family: 'Poppins';
  font-size: 20px;
}
.contact-us-form-container h3{
  color: black;
  font-family: 'Poppins';
  font-size: 18px;
}
.contact-us-form-container-wrappper {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}
.contact-us-form-container {
  margin-top: 68px;
  padding: 32px 64px;
  padding-bottom: 60px;
  margin-bottom: -100px;
}
.bs-b p  span{
  font-family: "Poppins";

  color: black;

}
.current-menu-item >a {
  color: rgb(255, 208, 0) !important;
  font-weight: 500;
}
.breadcrumb_last, .current-p{
  color: #d80025 !important;
}
#menu-middle-nav > .current-menu-item >a{
  color: #d80025 !important;
}


.bs-b p>span{
  align-items: center;
  display: flex;
}
.bs-b #breadcrumbs{
  display: flex;
  height: 39px;
  font-weight: 500;
  padding: 5px 64px 5px 74px;
  /* margin-bottom: 86px; */
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 22px;
}
 .bs-b p span a{
  color: black;
 }
.bs-contact-map-conatiner > iframe {
  padding: 16px 0px 0px 0px;
  /* height: 230px; */
  height: 205px;

  width: 450px;
}
.bs-contact-map-conatiner {
  padding-top: 42px;
}

.bs-input-field-container > input {
  padding: 12px;
  width: 100%;
  font-family: "Poppins";
  font-size: 14px;
  margin-top: 10px;
  border-style: none;
  background-color: white;
  border-radius: 4px;
}
.bs-contact-form {
  background: #f4f5f6;
  padding: 32px;
  border-radius: 7px;
}
.bs-input-field-container > button {
  padding: 12px;
  width: 100%;
  font-family:'Poppins';
  font-size: 14px;
  margin-top: 10px;
  border-style: none;
  color: white;
  background-color: #535353;
  border-radius: 4px;
}
.bs-input-field-container > textarea {
  width: 100%;
  font-size: 14px;
  margin: 10px 0px;
  background-color: white;
  border-style: none;
  padding: 16px;
  border-radius: 4px;
 font-family: 'Poppins';
}
.bs-input-field-container > input:focus,
.bs-input-field-container > textarea:focus {
  outline-style: none;
}
.contact-us-detail-container {
  padding-top: 0px;
  margin-bottom: 42px;
}
.bs-input-field-container {
  /* padding-top: 32px; */
}
.bs-map-icon {
  height: 22px;
  width: 22px;
  margin-top: 0px;
  margin-left: -7px;
  margin-right: 10px;
}
.bs-phone-icon img{
  height: 19px;
  width: 19px;
  margin-top: 0px;
  margin-left: -7px;
  margin-right: 10px;
}
.bs-contact-map-detail > p {
  margin-bottom: 8px;
  color: var(--grey);
  line-height: 1.7;
  font-family: "edmondsans";
}
.bs-contact-map-detail > p > a {
  margin-bottom: 8px;
  color: var(--grey);
  line-height: 1.7;
}
/* .bs-phone-icon {
  height: 25px;
  width: 25px;
  margin-top: 0px;
  margin-right: 16px;
} */
/* .bs-phone-icon img {
  height: 100%;
  width: 100%;
} */
.bs-map-icon img {
  height: 100%;
  width: 100%;
}
.bs-contact-map-detail {
  display: flex;
  justify-content: start;
  margin-top: 16px;
}
.bs-location-container {
  height: 560px;
  width: 100%;

  margin-bottom: 178px;
}
.bs-location-container > h2 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 32px;
}
.bs-map-size {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.acf-map {
  width: 100%;
  height: calc(100vh - 115px);
  border: #ccc solid 1px;
  margin: 20px 0;
}

@media (max-width: 992px) {
  .bs-contact-map-conatiner > iframe {
    padding: 32px 0px;
    height: 300px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .bs-b #breadcrumbs {
padding-left: 32px; 
padding-right: 32px;
}
  .contact-us-form-container {
    padding: 32px;
    padding-bottom: 60px;
  }
}
