@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.container-fluid {
  margin: 0;
  padding: 0;
}
.row {
  padding: 0px !important;
  margin: 0px !important;
}

/* first section */
.bs-product-detail-wrapper {
  margin-left: 4.8%;
}
.bs-product-detail-wrapper .stock {
  color: #d80025;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 600;
}
.addtocart-img {
  height: 20px;
  width: 23px;
  margin-right: 8px;
  margin-top: -3px;
}
.addtocart-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.baishnab-breadcrum {
  height: 40px;
  padding: 12px;
  margin-top: 10px;
  width: 100%;
  background-color: #f4f4f4;
}
.bs-product-image-container>.woocommerce-product-gallery__image>a {
  width: 100%;
  height: 505px;
  
}

.main-img{
  height:500px;
}

.bs-product-image-container{
  background-color: #f4f4f4;
  max-height: 500px;
}

.bs-product-image-container>.woocommerce-product-gallery__image> img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}
.price ins {
  text-decoration: none;
}
.outofstock a:nth-child(2){
  display: none;
  /* color: red; */
}
.increase,
.decrease {
  display: none;
}
.quantity > .plus,
.quantity > .minus {
  background-color: #f5f7fd;
  padding: 4px 6px;
  border: 1px solid #d8d8d8;
}
.quantity > .minus {
  margin-left: 13px;
}
.woocommerce-Price-currencySymbol {
  padding-right: 4px;
}
.baishnab-detail-page-first-wrapper {
  padding: 16px 64px;
  margin-bottom: -100px;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 66px;
}
.baishnab-detail-page-first-wrapper .bs-product-detail-wrapper > h1,
.product-price {
  font-size: 20px;
  font-family: "Poppins";
  color: black;
  font-weight: 600;
}
.baishnab-detail-page-first-wrapper .bs-product-detail-wrapper .stock-title {
  color: #d80025;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 600;
}
.baishnab-detail-page-first-wrapper .bs-product-detail-wrapper .product-price {
  font-size: 20px;
  font-family: "Poppins";
  color: black;
  font-weight: 600;
}
.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .product-description {
  font-size: 13px;
  font-family: "Poppins";
  font-weight: 400;
  color: black;
  opacity: 60%;
  line-height: 1.7;
  
  margin-bottom: 23px;
}
.woocommerce-product-details__short-description p img{
  max-width: 250px !important;
}
.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .product-size
  .available {
  color: #d80025 !important;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 600;
  opacity: 100% !important;
  padding: 4px;
  border: 1px solid #d80025 !important;
}
.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .product-size
  span {
  color: black;
  opacity: 60%;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 600;
  padding: 4px;
  border: 1px solid black;
  cursor: pointer;
  margin: 0px 4px;
}
.baishnab-detail-page-first-wrapper .bs-product-detail-wrapper .product-size {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: "Poppins";
}

.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .product-quantity {
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 600;
  color: black !important;
  background-color: transparent !important;
  text-decoration: none;
}

.product-quantity input {
  background-color: white;
  width: 44px !important;
  height: 33px;
  text-align: center;
  outline-style: none;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #d8d8d8;
}
.bs-share {
  /* margin-bottom: 32px; */
}
.bs-product-detail-wrapper .product_meta span{
  padding-bottom: 16px;
}
.feedback>i{
  font-size: 30px;
  vertical-align: middle;
}
.product-quantity .bs-share img {
  width: 16px;
  height: 26px;
  margin-left: 14.4px;
}
.bs-social-icon {
  display: flex;
  justify-content: start;
}

.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .product-quantity
  .label {
  background-color: #f5f7fd;
  padding: 4px 6px;
  border: 1px solid #d8d8d8;
}
.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .product-quantity
  .number {
  background-color: white;
  width: 30px !important;
  padding: 4px;
  border: 1px solid #d8d8d8;
}
.bs-b {
  background: #f4f5f6;
  height: 39px;
}
.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .bs-button-collection
  button {
  background-color: #d80025;
  color: white;
  font-weight: 500;
  font-family: "Poppins";
  font-size: 16px;
  padding: 14px 24px;
  /* margin-top: 59px; */
  border-radius: 5px;
  display: flex;
  margin-right: 23px;
  text-decoration: none;
  outline-style: none;
  border-style: none;
}

.bs-review-wrapper {
  margin: 20px 0px 90px 0;
}
.bs-review-wrapper > textarea {
  border-radius: 10px;
  border-style: none;
  padding: 16px;
  margin-top: 22px;
  background-color: #f4f4f4;
  width: 50%;
  font-family: "Poppins";
  outline: none;
}
.bs-review-wrapper > button {
  border-radius: 10px;
  border-style: none;
  padding: 8px 12px;
  margin-top: 22px;
  background-color: #d80025;
  width: 50%;
  color: white;
  font-family: "Poppins";
  outline: none;
}
.bs-review-wrapper > h2 {
  margin-top: 60px;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  color: black;
}
.baishnab-detail-page-first-wrapper
  .bs-product-detail-wrapper
  .bs-button-collection {
  /* margin-top: 59px; */
  /* margin-bottom: 49px; */
  display: flex;
  justify-content: flex-start;
}
#bs-share-icon {
  margin-top: 72px;
  /* margin-top: 49px; */
}
.detail-page-slider .slick-dots li button:before {
  display: none !important;
}
/* second section */
.product-small-image  {
  width: 92% !important;
  height: 138px;
  background-color: #f4f4f4;
  cursor: pointer;
}
.product-small-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-small-image  .woocommerce-product-gallery__image{
  height: 100%;
}
.small-img > .product-small-image {
  margin-left: auto !important;
  margin-right: auto !important;
}
.detail-page-slider .slick-prev {
  left: 0%;
  z-index: 1;
}
.detail-page-slider .slick-next {
  right: 0%;
  z-index: 1;
}
.detail-page-slider .slick-next:before,
.detail-page-slider .slick-prev:before {
  font-size: 17px !important;
  opacity: 100%;
  color: #d80025;
}
/* .detail-page-slider .slick-next:before,
.slick-prev:before {
  font-size: 17px !important;
  opacity: 100%;
  color: #d80025;
} */
.baishnab-detail-page-second-wrapper {
  display: flex;
  justify-content: flex-start;
}

.baishnab-detail-page-second-wrapper {
  margin-top: 21px;
  /* padding-left: 15px; */
}
.baishnab-detail-page-second-wrapper > .small-img {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  width: 30%;
}

td,
th {
  text-align: left;
}
.baishnab-detail-page-main-wrapper {
  padding: 16px 64px;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  /* margin-top: 66px; */
}
/* third section */
.baishnab-detail-page-third-wrapper ul > li .active {
  color: #d80025;
  border-bottom: 2px solid #d80025;
  opacity: 100%;
}
.baishnab-detail-page-third-wrapper ul > li > a {
  color: black;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  opacity: 37%;
}
.baishnab-detail-page-third-wrapper h1 {
  color: black;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
}
.baishnab-detail-page-third-wrapper .product-nutritional-values {
  margin-top: 29px;
  /* padding-left: 15px; */
}
.product-nutritional-values h1 {
  margin-bottom: 17px;
}
.baishnab-detail-page-third-wrapper .tab-content .tab-pane p img{
  max-width:260px
}
.baishnab-detail-page-third-wrapper .more-details {
  color: black;
  opacity: 60%;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.7;
}
.baishnab-detail-page-third-wrapper {
  margin-top: 76px;
}
.baishnab-detail-page-third-wrapper ul {
  margin-bottom: 29px;
}
.rating-star-image-container > .detail-page-review-star {
  margin-right: 8px;
}

/* fourth section */
.baishnab-detail-page-related-products-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.baishnab-detail-page-fourth-wrapper {
  margin-top: 61px;
  text-align: center;
  /* margin-bottom: 132px; */
  position: relative;
}
.baishnab-detail-page-fourth-wrapper ul {
  /* display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: start; */
}
.baishnab-detail-page-fourth-wrapper ul  .bs-product-image-wrapper-woo{
  margin-right: 32px;
}
.baishnab-detail-page-fourth-wrapper ul li {
  margin-bottom: 32px;
  width: 267px;
  position: relative;
  height: 360px;
  margin-right: 20px;
  text-align: center;
  margin-right: auto;
  /* margin-left: auto; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.fill-good{
  border: 2px solid #d80025;
}

.baishnab-detail-page-fourth-wrapper ul li img {
  /* background-color: #f4f5f6;
  width: 100%;
  height: 305px;
  object-fit: cover; */
      /* background-color: #f4f5f6; */
      /* max-width: 100%;
      max-height: 305px; */
      /* object-fit: cover;
}
.baishnab-detail-page-fourth-wrapper ul li a {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}
.current-p {
  margin-left: 8px;
  /* margin-right: 5px; */
}
.current-p :last-child {
  color: #d80025;
  opacity: 100% !important;
  font-family: "poppins";
  font-size: 14px;
  font-weight: 500;
}
.baishnab-detail-page-fourth-wrapper ul li a > h2 {
  font-size: 14px;
  font-weight: 400 !important;
  font-family: "Poppins";
  color: #000000;
  padding-top: 12px;
}
.baishnab-detail-page-fourth-wrapper > h2 {
  margin-bottom: 34px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}
.baishnab-detail-page-fourth-wrapper > h2::before {
  content: " ";
  position: absolute;
  width: 12px;
  top: 2%;

  left: 38%;
  border-bottom: 2px solid #d80025;
}
.baishnab-detail-page-fourth-wrapper > h2::after {
  content: " ";
  position: absolute;
  width: 12px;
  top: 2%;

  right: 38%;
  border-bottom: 2px solid #d80025;
}
.baishnab-detail-page-related-products-card-container a {
  text-decoration: none;
}
.baishnab-detail-page-related-products-card {
  width: 267px;
  height: 360px;
  margin-right: 31px;
  margin-bottom: 31px;
}
.related-products-card-image {
  width: 267px;
  height: 305px;
  background-color: #f4f4f4;
}
.related-products-card-image img {
  width: 100%;
  height: auto;
}
.related-products-card-image-description {
  max-width: 267px;
  padding: 8px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}
.related-products-card-image-description > p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
  color: #000000;
}
.related-products-card-image-description > span {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}

/* woo commerce breadcrumn */
.woocommerce-breadcrumb {

  font-weight: 500;

  padding: 5px 64px 5px 64px;
  /* margin-bottom: 86px; */
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 22px;
}
.woocommerce-breadcrumb a {
  color: #000;
  opacity: 37%;
  font-family: "poppins";
  font-size: 14px;
  line-height: 1.9;
}
.baishnab-detail-page-fourth-wrapper .slick-prev {
  left: 1% !important;
}
@media (min-width: 1448px) {
  .baishnab-detail-page-fourth-wrapper ul li {
    width: 244px;
    height: 360px;
    margin-right: 20px;
  }
  .related-products-card-image {
    width: 244px;
    height: 305px;
    background-color: #f4f4f4;
  }
}
@media (max-width: 1250px) {
  .baishnab-detail-page-fourth-wrapper ul li {
    margin-right: 40px;
  }
  .baishnab-detail-page-fourth-wrapper ul li {
    margin-right: 12px;
    margin-left: 12px;
  }
}

@media (max-width: 1200px) {
  .baishnab-detail-page-first-wrapper
    .bs-product-detail-wrapper
    .bs-button-collection
    button {
    padding: 14px;
  }
  .product-small-image {
    height: 100px;
  }
  .baishnab-detail-page-fourth-wrapper > h2::before {
    left: 34%;
    top: 2%;
  }
  .baishnab-detail-page-fourth-wrapper > h2::after {
    right: 34%;
    top: 2%;
  }
}

@media (max-width: 1024px) {
  .main-img{
    height: 350px;
  }
  .product-small-image {
    height: 90px;
  }
  .bs-product-image-container {
    width: 100%;
  max-height: 350px;
   
  }
  .bs-product-image-container>.woocommerce-product-gallery__image> img{
    max-height:350px ;
  }
  .baishnab-detail-page-fourth-wrapper > h2::before {
    /* top: 1%; */
    left: 32%;
  }
  .baishnab-detail-page-fourth-wrapper > h2::after {
    /* top: 1%; */
    right: 32%;
  }
}
@media(max-width:1000px){
  .baishnab-detail-page-fourth-wrapper .slick-prev {
    left: 0% !important;
  }
  .baishnab-detail-page-fourth-wrapper ul li{
    width: 43%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .baishnab-detail-page-fourth-wrapper ul li {
    margin-right: 12px;
    margin-left: 12px;
  }
  .baishnab-detail-page-first-wrapper {
    padding: 16px;
  }
  .detail-page-slider .slick-prev {
    left: 4%;
    z-index: 1;
  }
  .detail-page-slider .slick-next {
    right: 4%;
    z-index: 1;
  }

  .product-small-image {
    height: 180px;
  }
  .baishnab-detail-page-fourth-wrapper > h2::before {
    /* top: 0.5%; */
    left: 28%;
  }
  .baishnab-detail-page-fourth-wrapper > h2::after {
    /* top: 0.5%; */
    right: 28%;
  }
  .baishnab-detail-page-main-wrapper {
    padding: 16px;
  }
  table {
    width: 50%;
  }
  .bs-product-detail-wrapper {
    margin-top: 27px;
  }

  .baishnab-detail-page-first-wrapper
    .bs-product-detail-wrapper
    .product-quantity {
    /* margin-top: 32px; */
  }
}
@media(max-width:600px){
  .baishnab-detail-page-fourth-wrapper .slick-prev {
    left: -3% !important;
}
    .baishnab-detail-page-fourth-wrapper ul li{
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }
  
}
@media (max-width: 560px) {

  .baishnab-detail-page-fourth-wrapper > h2::before {
    left: 22%;
  }
  .baishnab-detail-page-fourth-wrapper > h2::after {
    right: 22%;
  }
  .bs-product-image-container {
    /* height: 300px; */
  }
  table {
    width: 71%;
  }
  .baishnab-detail-page-second-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-small-image {
    margin-bottom: 17px;
  }
  .baishnab-detail-page-related-products-card {
    margin-right: 0px;
  }
}

@media (max-width: 436px) {
  .baishnab-detail-page-fourth-wrapper ul {
    padding: 0px 16px;
}
  .baishnab-detail-page-fourth-wrapper ul li{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .product-small-image {
    width: 100% !important;
    height: 180px;
  }

  .baishnab-detail-page-fourth-wrapper > h2::before {
    left: 18%;
  }
  .baishnab-detail-page-fourth-wrapper > h2::after {
    right: 18%;
  }
  .baishnab-detail-page-related-products-card-container a {
    margin-right: auto;
    margin-left: auto;
  }
  /* .product-small-image {
    width: 275px;
   
  } */
  .baishnab-detail-page-first-wrapper
    .bs-product-detail-wrapper
    .bs-button-collection {
    flex-direction: column;
    display: flex;
  }
  .baishnab-detail-page-first-wrapper
    .bs-product-detail-wrapper
    .bs-button-collection
    a {
    margin-top: 16px;
    text-align: center;
  }
}

@media (max-width: 370px) {
  .baishnab-detail-page-fourth-wrapper > h2::before {
    left: 12%;
  }
  .baishnab-detail-page-fourth-wrapper > h2:after {
    right: 12%;
  }
}

.baishnab-detail-page-first-wrapper .onsale {
  /* display: none !important; */
}

/* woocommerce css override */
.baishnab-detail-page-first-wrapper .discount-clip-baishnab {
  display: none;
}
.tab-pane > h2 {
  font-size: 20px !important;
  font-weight: 600 !important;
  font-family: "Poppins" !important;
}
.baishnab-detail-page-third-wrapper .tab-pane > h2 {
  text-align: center;
  display: none;
}
.baishnab-detail-page-third-wrapper .tab-content .tab-pane {
  padding: 22px 0px;
  padding-top: 0;
  /* margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; */
}
.baishnab-detail-page-third-wrapper #tab-description{
  margin-left: auto;
  margin-right: auto;
  /* display: flex;
  justify-content: center; */
}
.bs-fa>a{
  display: unset !important;
}
.bs-product-image-container>a{
  display: unset !important;
}
.fancybox-content img{
  max-width: 500px;
  max-height: 400px;
}
.tab-pane table {
  font-size: 14px !important;
  color: black;
  opacity: 60%;
  line-height: 1.7;
  font-family: "Poppins" !important;
  margin-left: auto;
  margin-right: auto;
}
.tab-pane > .woocommerce-Reviews > #comments > .woocommerce-Reviews-title {
  font-size: 20px !important;
  font-weight: 600 !important;
  font-family: "Poppins" !important;
}
.woocommerce-error {
  background-color: #fff2f4 !important;
  /* width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important; */
}
.baishnab-detail-page-first-wrapper .sale .row {
  position: relative;
}

.baishnab-detail-page-first-wrapper .discount-clip-baishnab {
  /* z-index: 1 !important;
  width: auto;
  background-color: #e30513;
  padding: 4px 10px; */
  /* padding-left: 18px; */
  /* text-align: center;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 26% 46%);
  position: absolute;
  top: 8px;
  color: white;
  left: 14px; */
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  padding: 1em 2em 1em 3.5em;
  margin: 0 0 2em;
  position: relative;
  /* background-color: #f8f9fa; */
  color: #000 !important;
  border-top: none !important;
  list-style: none outside;
  width: auto;
  /* opacity: 60%; */
  word-wrap: break-word;
  font-family: "poppins" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 1.7;
}
.woocommerce-notices-wrapper .woocommerce-message {
  background: #e2f7e2 !important;
}
.woocommerce-notices-wrapper {
  width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.woocommerce-notices-wrapper > ul > li > a {
  background-color: #d80025 !important;
  color: white !important;
  font-weight: 400 !important;
  font-family: "Poppins" !important;
  font-size: 14px !important;
  padding: 9px 13px !important;

  border-radius: 5px !important;

  text-decoration: none !important;
  outline-style: none !important;
  border-style: none !important;
}
.woocommerce-error .button,
.woocommerce-info .button,
.woocommerce-message .button {
  float: right;
  margin-left: 12px !important;
}
.woocommerce-notices-wrapper > .woocommerce-message > a {
  background-color: #d80025 !important;
  color: white !important;
  font-weight: 400 !important;
  font-family: "Poppins" !important;
  font-size: 14px !important;
  padding: 9px 13px !important;

  border-radius: 5px !important;

  text-decoration: none !important;
  outline-style: none !important;
  border-style: none !important;
}
.woocommerce-product-rating div,
.woocommerce-product-rating {
  display: none;
}
.woocommerce-product-attributes-item__value p {
  margin-bottom: 0px;
}
.woocommerce-product-rating div,
.woocommerce-product-rating a {
  padding-bottom: 12px;
  color: #000;
  opacity: 60%;
  font-family: "Poppins";
  font-size: 14px !important;
}
#reviews #comments ol {
  /* display: flex !important;
  justify-content: space-between !important; */
  list-style: none;
}
#reviews #comments ol li .comment-text {
  margin-left: 12px;
}
#reviews #comments ol li .comment-text p {
  font-family: "poppins" !important;
  font-size: 13px !important;
  margin-bottom: 8px !important;
  line-height: 1.6;
}
#reviews #comments ol li .comment-text .description {
  opacity: 60% !important;

  margin-left: -74px;
  padding: 17px 32px 32px 0px;
}
#reviews #comments ol li {
  margin: 32px 0px;
  display: flex;
  max-width: 766px;
}
#reviews #comments ol li .comment-text .woocommerce-review__published-date {
  opacity: 60% !important;
  font-size: 11px;
}

#review_form .comment-respond span {
  font-family: "poppins" !important;
  font-size: 18px !important;
}
.comment-form-rating label {
  display: none;
}
.comment-form .comment-form-comment label {
  display: none !important;
}
.comment-form .comment-form-comment textarea {
  border: 2px solid #f4f5f6;
  outline-style: none;
  padding-left: 12px;
  width: 100% !important;
  /* background-color: #f4f5f6; */
}
.comment-form .form-submit > input {
  background-color: #f4f5f6;
  color: black;
  font-weight: 500;
  font-family: "Poppins";
  font-size: 14px;
  padding: 14px;
  border-radius: 2px;
  border-style: none;
  outline-style: none;
  width: 100% !important;
}
.comment-form .form-submit > input:hover {
  color: white;
  background-color: #d80025;
  transition: 350ms;
}
.comment-form .form-submit {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 768px) {
  /* woocommerce css */
  .woocommerce-notices-wrapper {
    width: 90% !important;
  }
}

p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
}

p.stars a::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: "WooCommerce";
  content: "\e021";
  text-indent: 0;
}

p.stars a:hover ~ a::before {
  content: "\e021";
}

p.stars:hover a::before {
  content: "\e020";
}

p.stars.selected a.active::before {
  content: "\e020";
}

p.stars.selected a.active ~ a::before {
  content: "\e021";
}

p.stars.selected a:not(.active)::before {
  content: "\e020";
}
.comment-form-rating .stars span a {
  color: #ffc107 !important;
}
.baishnab-detail-page-fourth-wrapper ul li .star-rating {
  display: none;
}
.star-rating {
  padding: 5px 0px;
  /* margin-top: 5px !important; */
  font-size: 11px;
  opacity: 60%;
  font-family: "Poppins";
}
.bs-product-detail-wrapper .product_meta span {
  font-family: "Poppins";
  font-weight: 600;
}
.bs-product-detail-wrapper .product_meta{
  padding-top: 90px;
}

.wprm-block-text-normal {
  font-family: "Poppins";
  font-size: 14px;
}
/* side cart plugin css */
.xoo-wsc-items-count,
.xoo-wsc-sc-count {
  background-color: #d80025 !important;
}
.xoo-wsc-basket {
  color: #d80025;
}
.xoo-wsc-body,
.xoo-wsc-body span.amount,
.xoo-wsc-body a {
  font-size: 14px !important;
}
.xoo-wsc-img-col {
  width: 15% !important;
}
.xoo-wsc-header {
  color: white !important;
  background-color: #d80025;
}
.yith-wcwl-add-button a {
  background-color: #d80025;
  color: white;
  font-weight: 500;
  font-family: "Poppins";
  font-size: 16px;
  padding: 14px 24px;
  margin-top: 59px;
  border-radius: 5px;
  display: flex;
  margin-right: 23px;
  text-decoration: none;
  outline-style: none;
  border-style: none;
}
.yith-wcwl-add-button {
  position: absolute;
  /* bottom: 50%; */
  left: 20%;
  transform: translate(50%, 136%) ;
}
.add_to_wishlist:hover{
  color: white;

}
.yith-wcwl-wishlistaddedbrowse a{
  color: black;
}
#yith-wcwl-popup-message {
  /* position: absolute !important;
  bottom: 50% !important; */

  /* top: 49% !important; */
  display: none !important;
  left: 80% !important;
  /* transform: translate(50%, -222%) !important; */
}
.add_to_cart_button > img {
  object-fit: contain !important;
}
.yith_wcwl_wishlist_footer .yith-wcwl-share {
  display: none;
}
.wishlist-items-wrapper .product-remove{
  display: none;
}
.yith-wcwl-add-to-wishlist {
  position: relative;
  max-width: 100%;
}
.yith-wcwl-add-to-wishlist .feedback .fa-heart:before {
  color: #d80025 !important;
}
.yith-wcwl-wishlistexistsbrowse a {
  color: black;
  font-weight: 500;
}
.product_meta .posted_in a {
  color: black;
  font-weight: 400;
  opacity: 60%;
  line-height: 1.9;
}
.fa-heart-o:before {
  /* content: "\f08a"; */
  content: "\f004";
}
.yith-wcwl-add-to-wishlist{
  margin-top: -73px !important;
  margin-bottom: 60px !important;
}
.yith-wcwl-add-button > a > i {
  margin-top: 4px;
}
.dgwt-wcas-no-submit
  .dgwt-wcas-sf-wrapp
  input[type="search"].dgwt-wcas-search-input::placeholder {
  font-style: normal;
}
.wishlist_table  th {
  text-align: center;
}
.wishlist_table .product-name span{
margin-left: -59px;
float: left;

}
.wishlist_table .product-price .nobr{
  font-size: 14px;
}
.price{
  color: #000;
}
.yith-wcwl-wishlistexistsbrowse{
  margin-bottom: 16px;
}
.wishlist-items-wrapper .woocommerce-Price-amount{
  font-size: 16px !important;
  font-family: "Poppins";
}

@media (max-width: 1200px) {
  .yith-wcwl-add-button a {
    padding: 14px;
  }
  .yith-wcwl-add-button {
    left: 27%;
  }
}
@media (max-width: 767px) {
  .bs-b .woocommerce-breadcrumb{
    padding: 5px 32px;
  }
  .yith-wcwl-add-button {
    left: 14%;
  }
  .wishlist_table .product-name span{
    margin-left: 0px;
    float: left;
    
    }
}
@media (max-width: 600px) {
  .yith-wcwl-add-button {
    left: 24%;
  }
}
@media (max-width: 450px) {
  .yith-wcwl-add-button {
    left: 0%;
    transform: translate(0%, 20%) !important;
  }
  #bs-share-icon {
    margin-top: 130px;
  }
  .baishnab-detail-page-first-wrapper
    .bs-product-detail-wrapper
    .bs-button-collection {
    flex-direction: unset;
  }
  .wishlist-items-wrapper .woocommerce-Price-amount{
    font-size: 12px !important;

}

}
.wishlist_table .product-remove{
display: none;
}


.wishlist-items-wrapper  del .woocommerce-Price-amount{
  opacity: 60%;
}
.wishlist-items-wrapper .product-name a{
  color: black !important;

}
.xoo-wsc-basket{
  display: block !important;
}
.wbo_add_to_cart input{
  background-color: #d80025;
  color: white;
  border-style: none;
  padding: 12px 24px;
  border-radius: 4px;

}
.wbo_thumb>a>img{
  object-fit: cover;
}
.wbo_row{
  border-bottom: 1px solid rgba(0,0,0,.1) !important;
}

@media screen and (min-width: 800px){
  .wbo_add_to_cart {
    padding-top: 1% !important;
}
.wbo_add_to_cart>input{
  float: right !important;
}
.wbo_thumb{
  padding-left: 0 !important;
}
.wbo_quantity, .wbo_thumb, .wbo_name, .wbo_price, .wbo_inner_wrap  .wbo_quantity, .wbo_add_to_cart {
  float: left;
  width: 20% !important;
}
.wbo_quantity input {
  width: 30% !important;
  text-align: center;
}
}
@media screen and (max-width: 800px){
  .wbo_name {
    float: right !important;
    width: 65%;
    vertical-align: middle;
    padding-top: 5px;
}
.wbo_quantity input {
  width: 55px;
  padding: 0px 10px;
  height: 45px !important;
}
.wbo_quantity {
  margin-left: 10px !important;
}
.wbo_add_to_cart input {
  padding: 12px;
}
.wbo_price {
  float: right !important;
  width: 65% !important;
  padding-top: 15px;
}
.wbo_filter{
  
  margin-bottom: 32px;

}
}
@media(max-width:800px){
  .wbo_price,  .wbo_name{
    width: 55% !important;
  }
  .wbo_quantity{
    width: 40%;
  
  }
}

.trying-to-wrap-the-image .slick-current .product-small-image{
  border: 2px solid #FFCC33;
}

.yith-wcwl-wishlistexistsbrowse {
  margin-bottom: 16px;
  margin-top: 18px;
}
.yith-wcwl-wishlistexistsbrowse a{
  color: black;

}
.yith-wcwl-wishlistexistsbrowse a:hover{
  color: black;
  opacity: 60%;
}
.reset_variations{
  font-size: 12px;
  color: black;
  float: right;
  margin-bottom: 6px;
}
.woocommerce-variation-price{
  margin-bottom: 16px;
}