@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins";
}
.no-gutters.row,
.no-gutters.container,
.no-gutters.container-fluid {
  margin-left: 0;
  margin-right: 0;
}
.row {
  margin: 0 !important;
  padding: 0 !important;
}
.no-gutters > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.container-fluid {
  padding: 0px !important;
  margin: 0px !important;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 0px;
}

/* css for header section */
.baishnav-home-top-navbar-container {
  background-color: #d80025;
  height: 42px;
}
.baishnav-home-top-navbar,
.baishnav-home-bottom-navbar-conatiner {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 64px;
  padding-top: 8px;
  color: #ffffff;
}
.bs-bulk-order {
  line-height: 1.9;
}
.dgwt-wcas-sf-wrapp svg {
  margin-right: 22px !important;
}

.dgwt-wcas-sf-wrapp:focus-within .dgwt-wcas-ico-magnifier {
display: none;
}

.baishnav-home-bottom-navbar-conatiner {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 64px;
  padding-top: 8px;
  color: #ffffff;
}
.bs-bulk-order > a > p {
  margin-bottom: 4px;
}
.bs-top-nav-item ul li {
  line-height: 1.9;
}
.bs-top-nav-item >ul >li{
  /* position: relative; */
}

.bs-top-nav-item  ul li .sub-menu li ul{
  justify-content: flex-start;
  max-width: 360px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 32px;

}

.bs-top-nav-item  ul li .sub-menu li ul li a{
padding-right: 22px;
 margin-left: 0;
font-size: 12px;
}

.bs-top-nav-item>ul >li >ul>li>ul>li{
  line-height: 1.5;
  margin-left: 16px;
}
.bs-top-nav-item  ul li .sub-menu li ul{
  display: none;
  max-height: 400px;
}

.bs-top-nav-item  ul li .sub-menu li:hover ul{
display: block;
}
.bs-top-nav-item>ul >li >ul>li>ul>li>a{
  color: black;
}
.bs-top-nav-item>ul >li >ul {
  padding: 10px 0px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  background-color: white;
display: none;
 
  font-family: "Poppins";
  padding-right: 4px;
  position: absolute;
}
.bs-top-nav-item >ul >li >ul >li{
  background-color: white;
  padding-right: 22px;
}
.bs-top-nav-item > ul{
  margin-bottom: 0;
}

.bs-top-nav-item ul li:hover .baishnav-searchbar-container{
  z-index: -1;
}

.bs-top-nav-item ul li:hover ul {
display: block;
transition: all 150ms ease;
z-index: 2;

}
/* .our-business{
  margin-right: 32px;
} */

.bs-top-nav-item>ul>li>.sub-menu>li>a{
  color: #d80025;
}
.bs-bulk-order > a > p > span {
  text-transform: uppercase;
  font-weight: 500;
}
.bs-bulk-order a:hover,
.bs-top-nav-item a:hover {
  text-decoration: underline !important;
  color: white;
}
.baishnav-home-top-navbar a {
  color: #ffffff;
  font-family: "Poppins";
  font-size: 14px;
  text-decoration: none;
}
.baishnav-home-top-navbar .bs-top-nav-item ul li a {
  margin-left: 32px;
}
.baishnav-home-top-navbar a:hover {
  color: rgb(255, 204, 51) !important;
}
.bs-top-nav-item > a:nth-child(2) {
  margin-left: 30px;
}
.baishnav-home-mid-navbar-logo {
  width: 122px;
  height: 98px;
}
.baishnav-home-mid-navbar-logo img {
  width: 100%;
  height: auto;
}
.heart-second-img {
  display: none;
}
.mid-nav-heart-icon:hover .heart-first-img {
  display: none;
}
.mid-nav-heart-icon:hover .heart-second-img {
  display: block;
}
.baishnav-searchbar-container {
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-top: 22px; */
  margin-right: 16px;
  display: flex;
}
.dgwt-wcas-no-submit .dgwt-wcas-ico-magnifier {
  right: 12px;
  left: auto;
}
.dgwt-wcas-search-wrapp {
  max-width: 883px !important;
}
.dgwt-wcas-search-wrapp input {
  width: 100%;
  font-family: "Poppins";
  height: 46px !important;
  background-color: #f4f4f4 !important;
  /* padding: 9px !important; */
  outline-style: none;
  outline-style: none;
  border-top-left-radius: 20px !important;
  border-style: none;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}
.baishnab-seach-box {
  padding-left: 31px !important;
  font-size: 14px;
  font-family: "Poppins";
  color: black;
  opacity: 37%;
  font-weight: 400;
}
.baishnav-searchbar-container img {
  width: 15px;
  height: 15px;
  /* margin-bottom: 38px; */
  margin-left: -70px;
}

.baishnav-searchbar-container > button {
  border-style: none;
  cursor: pointer;
}
.baishnav-login-image {
  height: 40px;
  width: 40px;
  margin-right: 6px;
  /* margin-top: 22px; */
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #f5f6f7;
}
.baishnav-home-mid-navbar-container > a {
  margin-top: auto;
  margin-bottom: auto;
}
.baishnav-login-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-second-img {
  display: none;
}
.mid-nav-cart-icon:hover .cart-first-img {
  display: none;
}
.mid-nav-cart-icon:hover .cart-second-img {
  display: block;
}
/* .cart-second-img{
  display: none;
}
.cart-first-img:hover{
  display: none;
}
.cart-first-img:hover .cart-second-img{ 
display: block;
} */
.baishnav-home-mid-navbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 64px;
  padding-left: 50px;
}
.nav-telephone-image img {
  width: 34px;
  height: 29px;
  margin-right: 12px;
  margin-top: 12px;
}
.baishnav-home-bottom-navbar-items > ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 16px;
  flex-wrap: wrap;
}
.baishnav-home-bottom-navbar-items > ul > li {
  margin-right: 16px;
  padding-right: 12px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  list-style: none;
}
.baishnav-home-bottom-navbar-items > ul > li > a {
  color: #000000;
  text-decoration: none;
}
.baishnav-home-bottom-navbar-items > ul > li:hover a {
  font-weight: 600;
  opacity: 37%;
}
.baishnav-navbar-contact-container {
  display: flex;
  justify-content: space-between;
}
.baishnav-navbar-contact-container > a:last-child:hover {
  color: black;
  text-decoration: underline !important;
}
.baishnav-navbar-contact-container > a > span {
  font-family: "Poppins";
  color: #d80025;

  font-weight: 400;
  font-size: 14px;
}
.baishnav-navbar-contact-container > a {
  font-family: "Poppins";
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;

  width: 84px;
}
.icon-tel-bs {
  width: min-content !important;
}
.baishnav-home-mid-navbar-container > .hamburger img {
  height: 30px;
  width: 30px;
}
#searchBar {
  display: none;
}
.baishnav-home-mid-navbar-container > .hamburger {
  align-items: baseline;
  margin-top: auto;
  margin-bottom: auto;
  display: none;
}
.bs-top-nav-item > ul {
  display: flex;
  list-style: none;
}
.dgwt-wcas-search-wrapp {
  min-width: 170px !important;
}
.dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
  padding: 17px 41px !important;
}
.mobile-wishlist{
  display: none;
}
/* navbar responsive */
@media (max-width: 992px) {
  .bs-top-nav-item>ul>li>.sub-menu>li>a{
    padding-left: 18px;
  }
  .baishnav-home-top-navbar .bs-top-nav-item ul li a {
    margin-left: unset;
  }
  .mobile-wishlist{
    display: unset;
  }
  .navbar-nav-ul {
    margin-bottom: 4px;
  }
  .baishnav-home-nav-wrapper {
    position: relative;
  }
  .baishnav-home-mid-navbar-container > .hamburger {
    display: block;
    cursor: pointer;
  }
  .baishnav-home-top-navbar-container {
    display: none;
  }
  .baishnav-home-mid-navbar-container {
    background-color: #d80025;
  }

  .show {
    display: block;
    height: auto;
  }
  .bs-top-nav-item > ul {
    flex-direction: column;
    /* padding-left: 8px; */
  }
  .baishnav-home-top-navbar a {
    margin-right: 0px;
  }
  .baishnab-seach-box {
    opacity: 100%;
    background: #f4f4f4;
  }
  .baishnav-login-image {
    display: none;
  }

  .baishnav-searchbar-container {
    width: 70%;
  }
  .baishnav-home-top-navbar {
    flex-direction: column;

    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    padding: 8px 32px;
    padding-top: 8px;
    color: #d80025;
    background-color: #f4f4f4;
    position: absolute;
    width: 100%;
    top:98px;
    z-index: 1;
  }
  .baishnav-home-top-navbar a {
    color: #d80025;
  }
  .baishnav-home-top-navbar a:hover {
    color: #d80025;
  }
}

@media (max-width: 768px) {
  .baishnav-home-top-navbar{
    z-index: 100;
  }
  .bs-top-nav-item ul li:hover .baishnav-searchbar-container{
    z-index: 100;
  }
  
  .baishnav-home-bottom-navbar-conatiner {
    padding: 0px 32px;
  }
  .baishnav-navbar-contact-container {
    display: none;
  }
  .baishnav-home-bottom-navbar-items {
    /* margin-left: auto; */
    margin-right: auto;
  }
  .baishnav-home-bottom-navbar-items > ul > li {
    margin-right: 0px;
  }
  .baishnav-searchbar-container {
    width: 60%;
  }
  .baishnav-home-mid-navbar-container {
    padding: 0px 16px;
  }
}

@media (max-width: 520px) {
  .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
    padding: 6px !important;
  }
  .dgwt-wcas-sf-wrapp svg {
    margin-right: 0px !important;
  }
  .dgwt-wcas-search-wrapp input {
    font-size: 12px !important;
  }
  .baishnav-home-bottom-navbar-items > ul > li {
    margin-right: 0px;
  }
  .baishnav-home-bottom-navbar-conatiner {
    padding: 0px 16px;
  }
  .baishnav-searchbar-container {
    width: 40%;
    /* margin-left: auto; */
    margin-right: auto;
  }
  .baishnav-home-mid-navbar-container {
    justify-content: start;
  }
  .baishnav-home-mid-navbar-container > .hamburger {
    margin-left: auto;
  }
  .baishnab-seach-box {
    padding-left: 12px !important;
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .baishnav-searchbar-container img {
    display: none;
  }
  .baishnav-home-bottom-navbar-items > ul > li {
    margin-right: 0px;
    padding: 0px 7px;
  }
  .baishnav-home-mid-navbar-logo {
    width: 100px;
    height: 79px;
  }
  .baishnav-home-top-navbar{
    top: 79px;
  }
}

@media (max-width: 350px) {
  .baishnav-home-top-navbar {
    z-index: 100 !important;
  }
  /* .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input{
    height: 35px !important;
    background: white !important;
    padding: 4px !important;
  } */
  .baishnav-home-bottom-navbar-items > ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .baishnav-searchbar-container {
    display: none;
  }
  #searchBar {
    margin-bottom: 4px;
    margin-left: -6px;
    display: block;
    padding-top: 16px;

  }
  /* .showSearchBar{
    display: block;
    height: auto;
  } */
}
/* css for first section */

.baishnav-first-section-wrapper {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding: 16px 64px;
  flex-wrap: wrap;
}

.bs-slider-image,
.baishnav-first-section-image-container,
.baishnav-first-section-slider-container {
  background-color: #f4f4f4;
}
.baishnav-first-section-slider-container {
  height: 466px !important;
  width: 100% !important;
}
.bs-first-section-image {
  height: 466px !important;
  width: 100% !important;
}
.bs-slider-image img {
  width: 100% !important;
  height: 466px !important;
  object-fit: cover;
}
.bs-main-slider-text-content a:hover{
  color: white;

}
.bs-banner-text a:hover{
  color: #d80025;

}

.baishnav-first-section-image-container {
  width: 100%;
  height: 225px;
  margin-bottom: 13px;
  margin-left: 13px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  position: relative;
  overflow: hidden;
}

.baishnav-first-section-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bs-first-section-image > a:hover .baishnav-first-section-image-container img {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.bs-banner-text {
  z-index: 100;
  max-width: 235px;
  position: absolute;
  transform: translate(10%, 50%);
  left: 15px;
}

.bs-main-slider-text-content {
  z-index: 100;
  max-width: 315px;
  position: absolute;
  bottom: 50%;
  transform: translate(30%, 50%);
  opacity: 0;
  transition: all 1s;
  z-index: 1000;
}
.bs-main-slider-text-content p {
  font-weight: 400;
  font-size: 14px;
  color: #d80025;
  margin-bottom: 8px;
  line-height: 1.9;
}
.bs-main-slider-text-content h3 {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.9;
  margin-bottom: 12px;
}
.bs-main-slider-text-content a {
  border-style: none;
  background-color: #d80025;
  color: white;
  padding: 8px 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  line-height: 1.9;
}
.slick-current .bs-main-slider-text-content {
  animation: slidermove 1s;
  animation-fill-mode: forwards;
  /* transition: 0.5s ease; */
  opacity: 1;
  transition: all 1s;
}

@keyframes slidermove {
  from {
    bottom: -0%;
  }
  to {
    bottom: 50%;
  }
}

.bs-banner-text p:nth-child(1) {
  color: #999;
  font-size: 14px;
  margin-bottom: 4px;
}
.bs-banner-text h3 {
  font-size: 16px;
  color: #333333;
  margin-top: 5px;
  font-weight: 600;
}
.bs-banner-text p:nth-child(3) {
  color: #333333;
  font-size: 13px;
}
.bs-banner-text a {
  outline: none;
  border-style: none;
  background: transparent;
  color: #d80025;
}
.slick-dots li button:before {
  font-size: 10px !important;
}
.slick-prev {
  left: 4% !important;
  z-index: 1 !important;
}
.slick-next {
  right: 4% !important;
  z-index: 1 !important;
}
.slick-dots {
  bottom: 22px !important;
}
@media (max-width: 991px) {
  .bs-banner-text {
    left: unset;
  }
  /* .bs-main-slider-text-content {
    transform: translate(10%, 50%);
  } */
  .bs-first-section-image {
    height: 200px !important;
    max-width: 854px !important;
    margin-left: auto;
    margin-right: auto;

    /* width: 100% !important; */
    display: flex !important;
    margin-top: 16px;
  }
  .bs-first-section-image > a {
    width: 50%;
  }
  .baishnav-first-section-image-container {
    margin-left: 0px !important;
  }
  .bes_css {
    margin-right: 12px;
  }
  .baishnav-first-section-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .baishnav-first-section-wrapper {
    padding: 16px;
  }
}

@media (max-width: 520px) {
  .bs-main-slider-text-content {
    transform: translate(25%, 50%);
  }
  .bs-banner-text>p{
display: none;
  }
  

.bs-main-slider-text-content {
  max-width: 224px;
}

  .bs-main-slider-text-content p {
    font-size: 12px;
  }
  .bs-main-slider-text-content h3 {
    font-size: 17px;
  }
  .bs-banner-text {
    transform: translate(10%, 50%);
  }
  .bs-banner-text h3 {
    font-size: 12px;
  }
  .bs-banner-text p:nth-child(1) {
    font-size: 12px;
  }
  .bs-banner-text p:nth-child(3) {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .baishnav-first-section-slider-container {
    height: 230px !important;
    width: 100% !important;
  }
  .bs-slider-image img {
    width: 100% !important;
    height: 230px !important;
  }
  .bs-first-section-image {
    height: 150px !important;
  }
  .baishnav-first-section-image-container {
    height: 150px;
  }
}

/* second section (shop by catgory) */
.bs-shop-by-category-card {
  height: 250px;
  /* padding: 16px; */
}
.baishnav-shopby-category-wrapper .slick-slide>div{
  padding: 16px;
}
.bs-shop-by-category-card ul {
  /* margin-top: -220px; */
  padding: 16px;
}
.bs-shop-by-category-card ul li {
  list-style: none;
  margin-bottom: 0;
}
.bs-shop-by-category-card ul li p {
  margin-bottom: 8px;
  font-size: 14px;
  margin-top: 8px;
}
.bs-shop-by-category-card ul li:hover p a {
  color: #d80025;
}
.bs-shop-by-category-card ul li p a {
  color: black;
}
.shop-by-category-card-img {
  background-repeat: no-repeat !important;
  background-position: right 100% !important;
  height: 250px !important;
  /* padding: 15px; */
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);
}
.bs_shop_by {
  color: black;
}
.bs_shop_by:hover {
  color: #d80025;
}
.baishnav-items-category .slick-track, .baishnab-home-featured-products-card-container .slick-track{
  margin-left: 0 !important;
}
.baishnav-items-category-container button{
  display: none !important;
}
/* .bs-shop-by-category-card img{
  height:100%;
  width: 100%;
  object-fit: cover;
} */

.baishnav-items-category-container {
  /* display: flex;
  justify-content: start; */
  max-width: 1500px;
  /* flex-wrap: wrap; */
}

.baishnav-items-category-container a .baishnav-items-category {
  height: 195px;
  width: 95%;
  margin-bottom: 16px;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);
}

.baishnav-items-category-container a .baishnav-items-category img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.baishnav-shopby-category-wrapper {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 50px;
  margin-top: 70px;
  position: relative;
}
.baishnav-shopby-category-wrapper > h1 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
  margin-bottom: 34px;
  text-align: center;
}
.baishnav-shopby-category-wrapper h1::before {
  content: " ";
  position: absolute;
  width: 12px;
  top: 3%;
  left: 39%;
  border-bottom: 2px solid #d80025;
}
.baishnav-shopby-category-wrapper h1::after {
  content: " ";
  position: absolute;
  width: 12px;
  top: 3%;
  right: 39%;
  border-bottom: 2px solid #d80025;
}

@media (max-width: 1348px) {
  .baishnav-shopby-category-wrapper h1::before {
    top: 3%;
    left: 39%;
  }
  .baishnav-shopby-category-wrapper h1::after {
    top: 3%;
    right: 39%;
  }
}

@media (max-width: 992px) {
  .baishnav-shopby-category-wrapper h1::after {
    right: 35%;
  }
  .baishnav-shopby-category-wrapper h1::before {
    left: 35%;
  }
}

@media (max-width: 768px) {
 
  .baishnav-items-category-container a .baishnav-items-category {
    height: 309px;
    margin-left: auto;
    margin-right: auto;
  }
  .baishnav-shopby-category-wrapper {
    padding: 0px 16px;
  }
  .baishnav-shopby-category-wrapper h1::after {
    right: 32%;
  }
  .baishnav-shopby-category-wrapper h1::before {
    left: 32%;
  }
}

@media (min-width: 370px) and (max-width: 576px) {
  .baishnav-items-category-container a .baishnav-items-category {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 460px) and (max-width: 617px) {
  .baishnav-shopby-category-wrapper h1::after {
    right: 27%;
  }
  .baishnav-shopby-category-wrapper h1::before {
    left: 27%;
  }
}
/* @media(max-width:641px){
  .baishnav-shopby-category-wrapper h1::after {
    top: 1%;
    right: 28%;
}
.baishnav-shopby-category-wrapper h1::before {
  top: 1%;
  left: 28%;
}
} */
@media (max-width: 565px) {
  .baishnav-items-category-container > a > .baishnav-items-category {
    width: 100%;
  }
}


@media (max-width: 460px) {
  .baishnav-shopby-category-wrapper h1::before {
    left: 20%;
  }
  .baishnav-shopby-category-wrapper h1::after {
    right: 20%;
  }
}
@media (max-width: 360px) {
  .baishnav-shopby-category-wrapper h1::before {
    left: 15%;
  }
  .baishnav-shopby-category-wrapper h1::after {
    right: 15%;
  }
}

/* bihani serves happiness section */

.feedback-slider-baishnab > button {
  display: none !important;
}
.baishnav-home-serves-happiness-wrapper {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 64px;
  margin-top: 185px;
  position: relative;
}
.baishnav-home-serves-happiness-wrapper > h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
  margin-bottom: 33px;
}
.baishnav-home-serves-happiness-wrapper h1::before {
  content: " ";
  position: absolute;
  width: 12px;
  top: 4%;
  left: 34%;
  border-bottom: 2px solid #d80025;
}
.baishnav-home-serves-happiness-wrapper h1::after {
  content: " ";
  position: absolute;
  width: 12px;
  top: 4%;
  right: 34%;
  border-bottom: 2px solid #d80025;
}

.baishnav-serves-happiness-card-container {
  display: flex;
  justify-content: flex-start;
}
.rating-star-image img {
  width: 16px;
  height: 16px;
  /* margin-right: 5px; */
}
.baishnav-smile-image img {
  width: 47px;
  height: auto;
  z-index: 1;
  margin-right: 12px;
}

.baishnav-ratings-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 17px;
}
.rating-star-image-container {
  display: flex;
  margin-bottom: 0px;
  margin-top: -6px;
}
.baishnav-feedback-text {
  max-width: 448px;
  font-size: 13px;
  font-weight: 400;
  font-family: "Poppins";
  color: #000000;
  opacity: 37%;
  line-height: 1.7;
}
.baishnav-feedback-text p {
  width: 85%;
}
.feedback-section-baishnav {
  max-width: 483px;
  margin-right: 12px;
}
.feedback-wrapper-baishnav {
  display: flex;
  justify-content: center;
}
.baishnav-rating-header > p {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins";
  color: #000000;
  margin-bottom: 9px;
}
.feedback-wrapper-baishnav > .slick-dots {
  bottom: -33px !important;
}
.slick-dots li.slick-active button:before {
  color: #d80025 !important;
}

@media (max-width: 960px) {
  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 28%;
  }
  .baishnav-home-serves-happiness-wrapper h1::before {
    left: 28%;
  }
}
@media (max-width: 800px) {
  .baishnav-home-serves-happiness-wrapper h1::before {
    left: 23%;
  }

  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 23%;
  }
}
@media (max-width: 640px) {
  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 18%;
  }
  .baishnav-home-serves-happiness-wrapper h1::before {
    left: 18%;
  }
  .baishnav-feedback-text p {
    width: 100%;
  }
}
@media (max-width: 525px) {
  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 13%;
  }
  .baishnav-home-serves-happiness-wrapper h1::before {
    left: 13%;
  }
}
@media (max-width: 460px) {
  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 9%;
  }
  .baishnav-home-serves-happiness-wrapper h1::before {
    left: 9%;
  }
}

@media (max-width: 430px) {
  .baishnav-home-serves-happiness-wrapper {
    padding: 0px 24px;
  }
  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 8%;
  }
  .baishnav-home-serves-happiness-wrapper h1::before {
    left: 8%;
  }
}
@media (max-width: 375px) {
  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 5%;
  }
  .baishnav-home-serves-happiness-wrapper h1::before {
    left: 5%;
  }
}
@media (max-width: 345px) {
  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 3%;
  }
  .baishnav-home-serves-happiness-wrapper h1::before {
    left: 3%;
  }
}
@media (max-width: 329px) {
  .baishnav-home-serves-happiness-wrapper h1::after {
    right: 12%;
  }
  .baishnav-home-serves-happiness-wrapper h1::before {
    left: 12%;
  }
}

/* Featured product section */
.baishnab-home-featured-products-card {
  width: 267px;
  height: auto;
  margin-right: 31px;
  margin-bottom: 96px;

  margin-right: auto;
  margin-left: auto;
}
.slick-next:before,
.slick-prev:before {
  font-size: 31px !important;
  opacity: 100% !important;
  color: #d80025 !important;
}
.baishnav-first-section-slider-container .slick-next:before,
.baishnav-first-section-slider-container .slick-prev:before {
  color: #fff !important;
}
.baishnab-featured-product-slider > .slick-prev {
  left: 0.5%;
}
.baishnab-featured-product-slider > .slick-next {
  right: 1%;
}
.baishnab-home-featured-products-wrapper > h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
  margin-bottom: 34px;
  margin-top: 85px;
}
.baishnab-home-featured-products-card-container > a {
  text-decoration: none !important;
}
a:link {
  text-decoration: none !important;
  /* color: black; */
}
.baishnab-home-featured-products-wrapper h1::before {
  content: " ";
  position: absolute;
  width: 12px;
  top: 2%;
  left: 38%;
  border-bottom: 2px solid #d80025;
}
.baishnab-home-featured-products-wrapper h1::after {
  content: " ";
  position: absolute;
  width: 12px;
  top: 2%;
  right: 38%;
  border-bottom: 2px solid #d80025;
}
.baishnab-home-featured-products-image {
  background-color: #f4f4f4;
  max-width: 267px;
  height: 305px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.baishnab-home-featured-products-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.baishnab-home-featured-products-descirption {
  max-width: 267px;
  padding: 8px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}
.baishnab-home-featured-products-descirption p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
  color: #000000;
  margin-bottom: 4px;
}
.baishnab-home-featured-products-descirption span {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}

.baishnab-home-featured-products-wrapper {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 64px;
  margin-top: 80px;
  position: relative;
  margin-bottom: -137px;
}

@media (min-width: 1380px) {
  .bs-featured-card-css {
    margin-right: 10px;
    margin-bottom: 31px;
  }
  .baishnab-featured-product-slider > .slick-prev {
    left: -1%;
  }
  .baishnab-home-featured-products-wrapper {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 64px;
    margin-top: 70px;
  }
  .baishnab-home-featured-products-descirption {
    margin-right: 48px;
  }
}

@media (max-width: 768px) {
  .baishnab-home-featured-products-wrapper {
    padding: 0px 16px;
  }
  .baishnab-home-featured-products-image {
    max-width: 80%;
  }
  .baishnab-home-featured-products-card {
    width: 100%;
  }
}
/* baishnab recent news section of home */
.baishnab-home-recent-news-wrapper {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 64px;
  margin-top: 70px;
  position: relative;
  margin-bottom: -100px;
}
.baishnab-home-recent-news-card-conatiner {
  display: flex;
  justify-content: start;
  max-width: 1500px;
}
.baishnab-home-recent-news-card-conatiner > a {
  text-decoration: none;
  width: 25%;
  margin-right: 12px;
  margin-bottom: 100px;
}
.baishnab-home-recent-news-card {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.baishnab-home-recent-news-image {
  width: 100%;
  height: 160px;
  background-color: white;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.baishnab-home-recent-news-card:hover .baishnab-home-recent-news-image img {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.baishnab-home-recent-news-description {
  height: 120px;
  width: 100%;
  padding-right: 12px;
}
.baishnab-home-recent-news-image img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.baishnab-home-recent-news-description > h1 {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins";
  color: #000000;
  padding-top: 22px;
  padding-bottom: 0px;
  margin-bottom: 4px;
}
.baishnab-home-recent-news-description > h1:hover {
  font-weight: 600;
  opacity: 37%;
}
.baishnab-home-recent-news-section
  > .baishnab-home-recent-news-wrapper
  > h1::before {
  content: " ";
  position: absolute;
  width: 12px;
  top: 18%;
  left: 41%;
  border-bottom: 2px solid #d80025;
}
.baishnab-home-recent-news-section
  > .baishnab-home-recent-news-wrapper
  > h1::after {
  content: " ";
  position: absolute;
  width: 12px;
  top: 18%;
  right: 41%;
  border-bottom: 2px solid #d80025;
}
.baishnab-home-recent-news-description {
  /* width: 257px; */
}
.baishnab-home-recent-news-description > p {
  font-size: 13px;
  font-weight: 400;
  font-family: "Poppins";
  color: #000000;
  opacity: 37%;
  line-height: 1.7;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.baishnab-home-recent-news-wrapper > h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
  margin-bottom: 22px;
  padding-top: 80px;
}
.baishnab-home-recent-news-section {
  background-color: #f4f4f4;
  margin-top: 192px;
}

@media (max-width: 1343px) {
  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::after {
    top: 18%;
    right: 40%;
  }
  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::before {
    top: 18%;
    left: 40%;
  }
}

@media (max-width: 992px) {
  .baishnab-home-recent-news-card-conatiner {
    flex-wrap: wrap;
  }
  .baishnab-home-recent-news-card-conatiner {
    justify-content: space-between;
  }
  .baishnab-home-recent-news-card-conatiner > a {
    width: 250px;
  }
  .baishnab-home-recent-news-card {
    width: 250px;
  }
  .baishnab-home-recent-news-image {
    width: 250px;
  }

  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::after {
    top: 10%;
    right: 38%;
  }
  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::before {
    top: 10%;
    left: 38%;
  }
  .baishnab-home-recent-news-section {
    margin-top: 0px;
  }
  .baishnab-home-featured-products-wrapper h1::before {
    left: 35%;
  }
  .baishnab-home-featured-products-wrapper h1::after {
    right: 35%;
  }
}
@media (max-width: 914px) {
  .baishnab-home-recent-news-card-conatiner > a {
    width: 46%;
  }
  .baishnab-home-recent-news-card {
    width: 100%;
  }
  .baishnab-home-recent-news-image {
    width: 100%;
  }
}
@media (max-width: 857px) and (min-width: 769px) {
  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::after {
    top: 10%;
    right: 36%;
  }
  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::before {
    top: 10%;
    left: 36%;
  }
}
@media (max-width: 768px) {
  .baishnab-home-featured-products-wrapper h1::before {
    left: 28%;
  }
  .baishnab-home-featured-products-wrapper h1::after {
    right: 28%;
  }
  .baishnab-home-recent-news-wrapper {
    padding: 0px 16px;
  }
}

@media (min-width: 639px) and (max-width: 716px) {
  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::after {
    top: 10%;
    right: 33%;
  }
  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::before {
    top: 10%;
    left: 33%;
  }
}
@media (max-width: 639px) {
  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::after {
    top: 5.5%;
    right: 30%;
  }
  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::before {
    top: 5.5%;
    left: 30%;
  }
}
@media (min-width: 556px) and (max-width: 639px) {
  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::after,
  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::before {
    top: 10%;
  }
}

@media (max-width: 556px) {
  .baishnab-home-recent-news-card-conatiner > a {
    width: 82%;
    margin-right: auto;
    margin-left: auto;
  }
  .baishnab-home-recent-news-card {
    width: 100%;
  }
  .baishnab-home-recent-news-image {
    width: 100%;
  }
  .baishnab-home-featured-products-wrapper h1::before {
    left: 21%;
  }
  .baishnab-home-featured-products-wrapper h1::after {
    right: 21%;
  }
}

@media (max-width: 430px) {
  .baishnab-home-featured-products-wrapper h1::before {
    left: 17%;
  }
  .baishnab-home-featured-products-wrapper h1::after {
    right: 17%;
  }
  .baishnab-home-recent-news-card {
    margin-right: 0px;
  }
  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::after {
    top: 5.5%;
    right: 23%;
  }
  .baishnab-home-recent-news-section
    > .baishnab-home-recent-news-wrapper
    h1::before {
    top: 5.5%;
    left: 23%;
  }
  .baishnab-home-recent-news-card-conatiner > a {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 360px) {
  .baishnab-home-featured-products-wrapper h1::before {
    left: 13%;
  }
  .baishnab-home-featured-products-wrapper h1::after {
    right: 13%;
  }
}

/* baishnab home our product section */
.product, .bs-shop-by-category-card {
  list-style: none;
}
.baishnab-home-tabs ul li{
  list-style: none;
}
.baishnab-home-our-products-wrapper
  > .baishnab-home-featured-products-wrapper
  h1::before {
  content: " ";
  position: absolute;
  width: 12px;
  top: 1%;
  left: 40%;
  border-bottom: 2px solid #d80025;
}
img[title]:hover {
  border-style: none !important;
  outline-style: none;
}
.baishnab-home-our-products-wrapper
  > .baishnab-home-featured-products-wrapper
  h1::after {
  content: " ";
  position: absolute;
  width: 12px;
  top: 1%;
  right: 40%;
  border-bottom: 2px solid #d80025;
}

.baishnab-home-our-products-cards-wrapper {
  display: flex;
  justify-content: center;
}
.baishnab-our-product-slider > .slick-prev {
  top: 45%;
  left: 1% !important;
}
.baishnab-our-product-slider > .slick-next {
  top: 45%;
  right: 1% !important;
}
.baishnab-home-tab-headers {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.baishnab-home-tab-headers {
  color: black;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  width: calc(100% / 2);
  margin-left: auto;
  margin-right: auto;
}
.baishnab-home-tabs > ul {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.baishnab-home-tabs > ul > li > a {
  color: black;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  opacity: 37%;
}

.baishnab-home-tabs > ul > li .active {
  color: #d80025;
  border-bottom: 2px solid #d80025;
  opacity: 100%;
}

.bs-discount-home-baishnab {
  opacity: 37%;
  text-decoration: line-through;
  margin-left: 16px;
}
.discount-clip-baishnab {
  z-index: 1 !important;
  float: right;
  /* width: 55px; */
  width: auto;
  background-color: #e30513;
  padding: 3px 8px;
  padding-left: 18px;
  text-align: center;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 26% 46%);
  position: absolute;
  top: 8px;

  color: white;
  /* left: 77.7%; */
  right: 8px;
}
.discount-clip-baishnab > span {
  font-weight: 400;
  z-index: 1;
  padding-left: 5px;
}
.baishnab-home-card-hover-info {
  display: none;
  transition: 0.5s;
}
.baishnab-home-featured-products-card:hover .baishnab-home-card-hover-info {
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -54px;
}
.baishnab-home-card-hover-info > .hover-eye-icon {
  width: 42px;
  height: 42px;
  background-color: white;
  border-radius: 50%;
  padding: 11px;
  cursor: pointer;
}
.baishnab-home-card-hover-info > .hover-eye-icon img {
  width: 100%;
}

@media (min-width: 1380px) {
  .baishnab-home-our-product-card > .baishnab-home-featured-products-card {
    margin-right: 0 !important;
    margin-bottom: 31px;
  }
}

@media (max-width: 924px) {
  .baishnab-featured-product-slider > .slick-next {
    right: 6% !important;
  }

  .baishnab-home-our-products-wrapper
    > .baishnab-home-featured-products-wrapper
    h1::before {
    left: 36%;
  }
  .baishnab-home-our-products-wrapper
    > .baishnab-home-featured-products-wrapper
    h1::after {
    right: 36%;
  }
}

@media (max-width: 700px) {
  .baishnab-our-product-slider > .slick-next {
    right: 5% !important;
  }
  .baishnab-home-our-products-wrapper
    > .baishnab-home-featured-products-wrapper
    h1::after {
    right: 30%;
    top: 2%;
  }
  .baishnab-home-our-products-wrapper
    > .baishnab-home-featured-products-wrapper
    h1::before {
    left: 30%;
    top: 2%;
  }
  .baishnab-home-tabs > ul > li > a {
    font-size: 12px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .baishnab-home-our-products-wrapper
    > .baishnab-home-featured-products-wrapper
    h1::after {
    top: 1%;
  }
  .baishnab-home-our-products-wrapper
    > .baishnab-home-featured-products-wrapper
    h1::before {
    top: 1%;
  }
}

@media (max-width: 460px) {
  .baishnab-home-our-products-wrapper
    > .baishnab-home-featured-products-wrapper
    h1::after {
    right: 25%;
  }
  .baishnab-home-our-products-wrapper
    > .baishnab-home-featured-products-wrapper
    h1::before {
    left: 25%;
  }
}
@media (max-width: 430px) {
  .baishnab-home-featured-products-image {
    height: 200px;
  }
  .baishnab-featured-product-slider > .slick-next {
    right: 6% !important;
  }
}
@media (max-width: 400px) {
  .baishnab-home-our-products-wrapper
    > .baishnab-home-featured-products-wrapper
    h1::after {
    right: 16%;
  }
  .baishnab-home-our-products-wrapper
    > .baishnab-home-featured-products-wrapper
    h1::before {
    left: 16%;
  }
}

/* footer section */

.bsflm {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.baishnab-footer ul li {
  list-style: none;
}
.baishnab-footer ul li a,
.bs-contact-detail-footer p,
.bs-contact-detail-footer a,
.bs-branches-footer a {
  font-family: "Poppins";
  color: white;
  font-size: 13px;
  opacity: 60%;
  line-height: 1.9;
}
.bs-contact-detail-footer a:hover,
.baishnab-footer ul li a:hover,
.bs-branches-footer a:hover {
  opacity: 100%;
  color: white;
}

.baishnab-footer-wrapper > p {
  padding: 22px;
  text-align: center;
  color: white;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  border-top: 1.8px solid rgb(138, 136, 136);
  margin: 0px 63px;
}
.baishnab-footer-wrapper a {
  color: white;
}
.baishnab-footer-wrapper {
  margin-top: 100px;
  background-color: #535353;
}
.bs-phone-icon-footer img {
  height: 21px;
  width: 21px;
  margin-right: 12px;
}
.bs-branches-footer,
.bs-branches-footer > a,
.footer-category {
  float: right;
}
.baishnab-footer p {
  margin-bottom: 0px;
}
.picon-footer img {
  height: 17px;
  width: 17px;
  margin-right: 12px;
}
.bs-contact-detail-footer {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}
.baishnab-footer {
  padding: 90px 64px;
  height: auto;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}
.baishnab-footer-logo-container {
  height: 120px;
  width: 130px;
  margin-top: -37px;
  padding-top: 16px;
}
.baishnab-footer-logo-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.footer-category > h3,
.bs-branches-footer > h3 {
  color: white;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
}

.second-last-section-baishnab {
  max-width: 1500px;
  padding: 0 64px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 77px;
  margin-bottom: 77px;
}
.baishnab {
  background-color: #f4f4f4;
  height: 274px;
  width: 100%;
}

@media (max-width: 992px) {
  .footer-category {
    float: unset;
    margin-top: 32px;
  }
}
@media (max-width: 768px) {
  .bs-branches-footer,
  .bs-branches-footer > a {
    float: unset;
    margin-top: 32px;
  }
  .baishnab-footer-logo-container {
    margin-top: 0px;
  }
  .baishnab-footer {
    padding: 32px 16px;
  }
}
/* css for dynamic */

.baishnab-home-featured-products-card-container li {
  width: 267px;
  position: relative;
  height: auto;
  margin-right: 31px;
  margin-bottom: 96px;
  margin-right: auto;
  margin-left: auto;
}
.baishnab-home-featured-products-card-container
  li
  .bs-product-image-wrapper-woo {
  background-color: #f4f4f4;
  width: 90%;
  /* width: 267px; */
  height: 305px;
  /* max-height: 305px; */
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    position: relative;
    overflow: hidden;
}
.bs-product-image-wrapper-woo {
  background-color: #f4f4f4;

  height: 305px;
  /* max-height: 305px; */
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.baishnab-home-featured-products-card-container
  li
  .bs-product-image-wrapper-woo:first-child {
  margin-left: 0 !important;
}
.bs-product-image-wrapper-woo:first-child {
  margin-left: 0 !important;
}

.baishnab-home-featured-products-card-container
  li
  .bs-product-image-wrapper-woo
  img {
  max-width: 99%;
  max-height: 100%;
  object-fit: contain;
}
.bs-product-image-wrapper-woo:hover img {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.bs-product-image-wrapper-woo img{
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-width: 99%;
  max-height: 100%;
  object-fit: contain;
}

.bs-product-image-wrapper-woo{
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  position: relative;
  overflow: hidden;
}

.baishnab-home-featured-products-card-container li h2 {
  max-width: 230px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 6px;
  line-height: 1.8;
  text-align: center;
  margin-right: auto;
  margin-bottom: 0px;
  padding-top: 12px;
  margin-left: auto;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
  color: rgb(0, 0, 0);
  word-break: break-word;
}
.baishnab-home-featured-products-card-container li .price {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
  display: flex;
  justify-content: center;
}
.price del {
  opacity: 37% !important;
  padding-right: 12px !important;
}
.baishnab-home-featured-products-card-container li .star-rating,
.baishnab-home-featured-products-card-container li .add_to_cart_button,
.baishnab-home-featured-products-card-container li .button,
.baishnab-home-featured-products-card-container li .added_to_cart {
  display: none;
}
.baishnab-home-featured-products-card-container li:hover .add_to_cart_button {
  display: block;
  position: absolute;
  /* top: 75%; */
  bottom: 19%;
  left: 26%;
  transform: translate(-50%, -50%);
  animation: mymove 350ms;
  animation-fill-mode: forwards;
  transition: 1s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.baishnab-home-tabs .slick-dots,
.baishnab-home-featured-products-wrapper .slick-dots {
  display: none !important;
}
.baishnab-home-featured-products-wrapper
  .baishnab-featured-product-slider
  .discount-clip-baishnab {
  display: none;
}
.baishnab-home-tabs .discount-clip-baishnab {
  z-index: 1 !important;
  /* width: 55px; */
  width: auto;
  background-color: #e30513;
  padding: 4px 10px;
  padding-left: 18px;
  text-align: center;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 26% 46%);
  position: absolute;
  top: 8px;
  color: white;
  right: 8px;
}
@media (min-width: 1500px) {
  .baishnab-home-featured-products-card-container
    li
    .bs-product-image-wrapper-woo {
    width: 94%;
  }
  .baishnab-home-featured-products-card-container
    li
    .bs-product-image-wrapper-woo
    img {
    width: 100%;
  }
}
/* @media (min-width: 1380px) and (max-width: 1420px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 50px;
  }
}
@media (min-width: 1380px) and (max-width: 1490px) {
  .baishnab-home-featured-products-card-container li img {
    width: 240px;
  }
  .baishnab-home-featured-products-card-container li {
    width: 240px;
  }
}

@media (min-width: 1420px) and (max-width: 1440px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 50px;
  }
} */
/* 
@media (min-width: 1441px) and (max-width: 1460px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 53px;
  }
}
@media (min-width: 1460px) and (max-width: 1485px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 56px;
  }
}
@media (min-width: 1486px) and (max-width: 1500px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 53px;
  }
}
@media (min-width: 1500px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 10px;
  }
}
.baishnab-home-featured-products-wrapper.baishnab-home-tabs li a:nth-child(2) {
  display: none;
}

@media (max-width: 1250px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 16%;
  }
}
@media (max-width: 1200px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 13%;
  }
}
@media (max-width: 1080px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 10%;
  }
}

@media (max-width: 985px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 6%;
  }
}
@media (max-width: 975px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 20%;
  }
}
@media (max-width: 920px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 17%;
  }
}
@media (max-width: 900px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 16%;
  }
}
@media (min-width: 768px) and (max-width: 820px) {
  
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 12%;
  }
}
@media (max-width: 700px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 12%;
  }
}

@media (min-width: 600px) and (max-width: 640px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 7%;
  }
}
@media (min-width: 640px) and (max-width: 660px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 9%;
  }
}
@media (min-width: 660px) and (max-width: 699px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 11%;
  }
}
@media (max-width: 540px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 23%;
  }
} */
/* @media (min-width: 500px) and (max-width: 600px) {
  .baishnab-home-featured-products-card-container li img {
    width: 220px;
    height: 240px;
  }
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 8%;
  }
}
@media (min-width: 530px) and (max-width: 600px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 12%;
  }
}

@media (max-width: 450px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 19%;
  }
}
@media (min-width: 380px) and (max-width:430px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 17%;
  }
}
@media (max-width: 380px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 13%;
  }
}
@media (max-width: 350px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 9%;
  }
}
@media (max-width: 328px) {
  .baishnab-home-tabs .discount-clip-baishnab {
    right: 6%;
  }
} */
@media(max-width:560px){
  .baishnab-home-featured-products-card-container li .bs-product-image-wrapper-woo{
    /* width: 100%; */
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .baishnab-home-featured-products-card-container li .bs-product-image-wrapper-woo:first-child{
    margin-left: auto !important;
  }
}
/* sign up form css*/
 .xoo-wsc-ft-btn-checkout{
  background: #d80025 !important;
  color: white !important;
   font-weight: 600 !important;
 }

.xoo-el-sidebar {
  display: none !important;
}
.xoo-el-form-container ul.xoo-el-tabs li.xoo-el-active,
.xoo-el-form-container button.btn.button.xoo-el-action-btn {
  background-color: #d80025 !important;
  height: 40px !important;
  font-family: "Poppins";
}
.xoo-el-form-container ul.xoo-el-tabs li {
  height: 40px !important;
  font-family: "Poppins";
}
.xoo-el-main,
.xoo-el-main a,
.xoo-el-main label {
  font-family: "Poppins";
}
.xoo-el-inmodal {
  width: 45% !important;
  height: 81% !important;
}
.xoo-el-header {
  padding: 0 19px 12px;
}
form.xoo-el-action-form {
  margin-top: 8px;
}
.xoo-aff-group input[type="text"],
.xoo-aff-group input[type="password"],
.xoo-aff-group input[type="email"],
.xoo-aff-group input[type="number"],
.xoo-aff-group select,
.xoo-aff-group select + .select2 {
  height: 40px !important;
}
.xoo-aff-group {
  margin-bottom: 22px !important;
}
.bs-cart-page-wrapper .woocommerce .woocommerce-MyAccount-navigation {
  /* padding-left: 22px; */
  border: 1px solid #f4f5f6;
  
    height: 100%;

}
.bs-cart-page-wrapper .woocommerce .woocommerce-MyAccount-navigation ul li a {
  color: black;
  font-weight: 500;
}
.bs-cart-page-wrapper .woocommerce .woocommerce-MyAccount-content {
  background-color: #f4f5f6;
  font-family: "Poppins";
  padding: 22px 12px;
  /* margin-top: 82px; */
  margin-bottom: 12px;
}
.woocommerce-MyAccount-content p a {
  color: black;
  font-weight: 500;
  text-decoration: underline !important;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  background-color: #d80025 !important;
  color: white !important;
  font-weight: 400 !important;
}
.dgwt-wcas-close:not(.dgwt-wcas-inner-preloader) {
}
.dgwt-wcas-preloader {
  right: 31px !important;
}
.dgwt-wcas-suggestions-wrapp {
  border-style: none !important;
}

.navbar-change {
  background-color: #fff !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  /* transition: all 350ms linear; */
  animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0px);
  }
}


/* product variation css */
.variations .label label{
  margin-right: 16px;
    font-weight: 600;
    
    margin-bottom: 28px;
}
.variations .value select {
  background: #f5f7fd;
  padding: 4px;
  margin: 3px;
  border: 1px solid #d8d8d8;
}

@media(max-width:450px){
  .wishlist_table .product-add-to-cart a.button{
    padding: 0px !important;
    background-color: transparent !important;
    font-size: 10px !important;
    color: black !important;
  
  }
}




/* Change WC Acct Page Column Widths */
@media only screen and (min-width: 769px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    width: 22%;
  }
  .woocommerce-account .woocommerce-MyAccount-content { 
    width: 75%;
  }
}
/* Style WC Account Endpoint Links */
nav.woocommerce-MyAccount-navigation ul {
  list-style-type: none;
  padding-left: 0;
  max-width:200px;
  font-size: 17px;
  line-height: 26px;
}
nav.woocommerce-MyAccount-navigation ul li {
  padding: 8px 20px;
  /* background-color: rgba(0,0,0,0.05); */
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
nav.woocommerce-MyAccount-navigation ul li:last-child{
  border: none;

}
nav.woocommerce-MyAccount-navigation ul{

  margin-bottom: 0px;
  
}
nav.woocommerce-MyAccount-navigation ul li.is-active {
  background-color: #f4f5f6;
}
nav.woocommerce-MyAccount-navigation ul li.is-active a {
  color: rgba(0,0,0,0.8); cursor: default;
}
/* nav.woocommerce-MyAccount-navigation ul li.is-active:after {
  content: "";
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 14px solid rgba(0,0,0,0.1);
  border-bottom: 20px solid transparent;
  float: right;
  margin-right: -34px;
  margin-top: -7px;
} */
nav.woocommerce-MyAccount-navigation ul li:not(.is-active):hover {
  background-color: #f4f5f6;
}
/* nav.woocommerce-MyAccount-navigation ul li:not(.is-active):hover:after { 
  content: "";
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 14px solid rgba(0,0,0,0.07);
  border-bottom: 20px solid transparent;
  float: right;
  margin-right: -34px;
  margin-top: -7px;
} */



.bs-cart-page-wrapper>.woocommerce{
  /* display: flex; */
}
.woocommerce-MyAccount-content{
  margin-top: 82px;
  width: 100%;
}
.woocommerce-MyAccount-navigation{
  width: 15%;
  margin-right: 32px;
}
/* .woocommerce-MyAccount-content{
  width: 85%;
} */

@media(max-width:1100px){
  nav.woocommerce-MyAccount-navigation ul{
    max-width:100%
  }
  .woocommerce-MyAccount-navigation{
    width: 100%;
  }
  .woocommerce-MyAccount-content{
    margin-top: 82px;
    width: 100%;
  }
  .bs-cart-page-wrapper>.woocommerce{
    flex-direction: column;
  }
}



/* our-product page css */
.bpadding{
  padding-bottom: 48px;
  padding-top: 32px;
  
}
.bs-body-wrapper{

}
.b-our-products-content{
  line-height: 1.7;
  text-align: center;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;

}
.bs-our-product-left-img{
  position: absolute;
  top: 52%;
  left: 0;

}
.bs-our-product-right-img{
position: absolute;
right: 0;
  top: 28%;
  width: auto;
  height: 317px;

}
.bs-our-product-right-img img{
  height: 100%;
  width: auto;
}

.b-image{
  padding: 32px 0px 48px 0px;
  position: relative;
  /* background: #f4f5f6;
  padding-bottom: 200
px
; */
}
.b-our-products-content>p{
  font-size: 14px;
}
.b-our-products-content>h1{
  margin-bottom: 22px;
  color: #d80025;
}
@media(max-width:992px){
  .b-our-products-content{
    padding: 0px 90px ;
  }
  .bs-top-nav-item ul li ul{
    position: relative;
    background-color: transparent;
    list-style: none;
    box-shadow: none;
    padding-top: 0;
    padding-bottom:8px;
  }
  .bs-top-nav-item ul li ul li{
    background-color: transparent;
    font-size: 12px;
  }
}

@media(max-width:768px){

  .bs-our-product-right-img{
    height: 175px;
    top: 15%;
  }
  .bs-our-product-left-img{
    height: 133px;
    top: 33%;
  }
  .bs-our-product-left-img img{
    width: auto;
    height: 100%;
  }
  
  .b-our-products-content{
    margin-top: 22px;
}
}
@media(max-width:500px){
  .bs-our-product-left-img{
    display: none;
  }
  .bs-our-product-right-img{
    display: none;
  }
  .b-our-products-content{
    padding: 16px;
  }
  .bpadding>.baishnab-home-featured-products-wrapper{
    margin-top: 0;
  }
  .b-image{
    padding: 0;
  }
}



/* Our branch section */
.bs-branch-image{
  min-height: 200px;
  width: 100%;
  position: relative;
}
.bs-branch-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -100;

}
.bs-branch-image .bs-phone-icon{
  margin-left: 7px;
  margin-top: 7px;
}
.bs-contact-container p{
margin-left: 25px;
}
.bs-branch-card{
  width: 100%;
  border: 1px solid #f4f5f6;
  /* background: #f4f5f6; */
  padding-top: 16px;
  height: 530px;
  padding-right: 16px;
}
.bs-branch-avtar{
    display: flex;
    justify-content: right;
    margin-left: auto;
    width: 250px;
    background: white;
    height: 250px;
    margin-bottom: 30px;
    margin-top: -12px;
    border: 4px solid white;
    border-radius: 120px;
    box-shadow: 0px 0px 30px -6px #afafaf;
}
.bs-branch-avtar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 120px;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  /* max-width: 800px; */
  /* The width is the width of the web page */
}


.bc-branch-content{
  padding: 16px;
  /* position: absolute;
  top: 10%;
  left: 2%; */
  padding: 60px 32px 60px 32px;
  z-index: 100;
}

.bs-branch-intro{
  margin-bottom: 102px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 20px 0px #e9e9e9;
}
.bs-branches-conatiner-wrapper h1{
  margin-bottom: 18px;
  text-align: center;
  font-size: 28px;
  color:#d80025;
}
.bc-branch-content h2{
 color:#d80025;
 font-size: 22px;
}
.bc-branch-content p, .bs-branch-intro p{
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 2px;
}

.bs-branches-conatiner-wrapper{
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 64px;
  padding-top: 100px;
padding-bottom: 48;
  padding-left: 50px;
}
.bs-branch-card{
  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); */
  box-shadow: 0px 0px 25px 0px #ddd;
}

.bs-branch-intro{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#map{
  margin-left: auto;
  margin-right: auto;
}

.bs-branch-card span{
    float: right;
    /* z-index: -100; */
    color: white;
    padding: 2px 10px;
    background: #d80025;
    /* border-radius: 50%; */
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

@media(max-width:1250px){
  .bs-branch-card{
height: 530px;
  }
  .bs-branch-avtar{
    height: 200px;
    width: 200px;
  }
}

@media(max-width:768px){
  .bs-branch-card{
    height: auto;
      }
  .bs-branch-avtar{
    width: 150px;
    height: 150px;
    border-radius: 80px;
 
}
.bs-branch-avtar img{
  border-radius: 80px;
}



  .bs-branches-conatiner-wrapper{
    padding:  70px 16px 0px 16px;
  }
}

.slick-prev:before,
.slick-next:before {
    color: gray !important;
    font-size: 19px !important;
    -webkit-font-size: 19px !important;
    -moz-font-size: 19px !important;
 }

 .bs-news-events-title{
	text-align:start !important;
	margin-bottom:48px !important;
}
/* .bs-map{
  height: 255px !important;
} */